&lt;h2 class=&quot;element-invisible&quot;&gt;Pages&lt;/h2&gt;&lt;div class=&quot;item-list&quot;&gt;&lt;ul class=&quot;pager&quot;&gt;&lt;li class=&quot;pager-current first&quot;&gt;1&lt;/li&gt;
&lt;li class=&quot;pager-item&quot;&gt;&lt;a title=&quot;Go to page 2&quot; href=&quot;/tweets?page=1&quot;&gt;2&lt;/a&gt;&lt;/li&gt;
&lt;li class=&quot;pager-item&quot;&gt;&lt;a title=&quot;Go to page 3&quot; href=&quot;/tweets?page=2&quot;&gt;3&lt;/a&gt;&lt;/li&gt;
&lt;li class=&quot;pager-item&quot;&gt;&lt;a title=&quot;Go to page 4&quot; href=&quot;/tweets?page=3&quot;&gt;4&lt;/a&gt;&lt;/li&gt;
&lt;li class=&quot;pager-item&quot;&gt;&lt;a title=&quot;Go to page 5&quot; href=&quot;/tweets?page=4&quot;&gt;5&lt;/a&gt;&lt;/li&gt;
&lt;li class=&quot;pager-item&quot;&gt;&lt;a title=&quot;Go to page 6&quot; href=&quot;/tweets?page=5&quot;&gt;6&lt;/a&gt;&lt;/li&gt;
&lt;li class=&quot;pager-item&quot;&gt;&lt;a title=&quot;Go to page 7&quot; href=&quot;/tweets?page=6&quot;&gt;7&lt;/a&gt;&lt;/li&gt;
&lt;li class=&quot;pager-item&quot;&gt;&lt;a title=&quot;Go to page 8&quot; href=&quot;/tweets?page=7&quot;&gt;8&lt;/a&gt;&lt;/li&gt;
&lt;li class=&quot;pager-item&quot;&gt;&lt;a title=&quot;Go to page 9&quot; href=&quot;/tweets?page=8&quot;&gt;9&lt;/a&gt;&lt;/li&gt;
&lt;li class=&quot;pager-ellipsis&quot;&gt;&hellip;&lt;/li&gt;
&lt;li class=&quot;pager-next&quot;&gt;&lt;a title=&quot;Go to next page&quot; href=&quot;/tweets?page=1&quot;&gt;next &rsaquo;&lt;/a&gt;&lt;/li&gt;
&lt;li class=&quot;pager-last last&quot;&gt;&lt;a title=&quot;Go to last page&quot; href=&quot;/tweets?page=1318&quot;&gt;last &raquo;&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;&lt;/div&gt; 