&lt;fieldset class=&quot;options&quot;&gt;
&lt;h3&gt;Poll Results&lt;/h3&gt;
{{&gt; molecules-poll-results }}
&lt;h3&gt;Vote&lt;abbr&gt;*&lt;/abbr&gt;&lt;/h3&gt;
{{&gt; molecules-poll-form }}
&lt;/fieldset&gt;