&lt;!--Begin .header --&gt;
&lt;!-- &lt;div class=&quot;header-container&quot;&gt; --&gt;
	&lt;div class=&quot;header-wrap&quot;&gt;
		&lt;header class=&quot;header cf&quot; role=&quot;banner&quot;&gt;
			{{&gt; atoms-logo }}
			&lt;p class=&quot;title&quot;&gt;Los Angeles Innovation and Performance Commission&lt;/p&gt;
		 	&lt;a href=&quot;#search-form&quot; class=&quot;nav-toggle nav-toggle-search icon-search is-vishidden&quot;&gt;&lt;span class=&quot;is-vishidden&quot;&gt;Search&lt;/span&gt;&lt;/a&gt;
			&lt;a href=&quot;#nav&quot; class=&quot;nav-toggle nav-toggle-menu icon-menu is-vishidden&quot;&gt;&lt;span class=&quot;is-vishidden&quot;&gt;Menu&lt;/span&gt;&lt;/a&gt;
			{{&gt; molecules-primary-nav }}
			{{&gt; molecules-search }}
		&lt;/header&gt;
	&lt;/div&gt;
	{{&gt; molecules-drop-down-nav }}
	&lt;div class=&quot;header-wrap-background&quot;&gt;
		&lt;header class=&quot;header cf&quot; role=&quot;banner&quot;&gt;
	&lt;/div&gt;
	&lt;div class=&quot;header-wrap-background-blur&quot;&gt;
		&lt;header class=&quot;header cf&quot; role=&quot;banner&quot;&gt;
	&lt;/div&gt;
&lt;!-- &lt;/div&gt; --&gt;
&lt;!-- End .header --&gt;