&lt;section class=&quot;section related-posts&quot;&gt;
	&lt;h3 class=&quot;section-title&quot;&gt;Recent Tweets&lt;/h3&gt;
	&lt;div class=&quot;view view-tweets view-id-tweets view-display-id-page_2 view-dom-id-0d0507c41c99a166138c987f94cfb602&quot;&gt;
		&lt;div class=&quot;view-content&quot;&gt;
		&lt;div class=&quot;item-list&quot;&gt;    
		&lt;ul&gt;          
		&lt;li class=&quot;views-row views-row-1 views-row-odd views-row-first&quot;&gt;  
		&lt;div class=&quot;views-field views-field-formatted-tweet&quot;&gt;        &lt;span class=&quot;field-content&quot;&gt;&lt;div class=&quot;twitter-status clearfix&quot;&gt;
		&lt;div class=&quot;avatar&quot;&gt;
		&lt;a title=&quot;Bernard C. Parks&quot; href=&quot;https://twitter.com/BernardCParks&quot;&gt;
		&lt;img alt=&quot;Bernard C. Parks&quot; src=&quot;http://pbs.twimg.com/profile_images/3254384501/5935d8da9df3b2219cc515de9a5c7f68_normal.jpeg&quot;&gt;
		&lt;/a&gt;
		&lt;/div&gt;

		&lt;div class=&quot;timestamp&quot;&gt;
		&lt;em class=&quot;placeholder&quot;&gt;7 min 5 sec&lt;/em&gt; ago  &lt;/div&gt;

		&lt;div class=&quot;name-handle&quot;&gt;
		&lt;div class=&quot;name&quot;&gt;
		&lt;a href=&quot;http://twitter.com/BernardCParks&quot;&gt;Bernard C. Parks&lt;/a&gt;
		&lt;/div&gt;
 
		&lt;div class=&quot;handle&quot;&gt;
		&lt;a href=&quot;http://twitter.com/BernardCParks&quot;&gt;@BernardCParks&lt;/a&gt;
		&lt;/div&gt;
		&lt;/div&gt;

		&lt;div class=&quot;text&quot;&gt;
		&lt;a target=&quot;_blank&quot; rel=&quot;nofollow&quot; href=&quot;http://twitter.com/search?q=%23LA&quot;&gt;#LA&lt;/a&gt; &lt;a target=&quot;_blank&quot; rel=&quot;nofollow&quot; href=&quot;http://twitter.com/search?q=%23Kid&quot;&gt;#Kid&lt;/a&gt;'s Stuff, &lt;a target=&quot;_blank&quot; rel=&quot;nofollow&quot; href=&quot;http://twitter.com/search?q=%23BaldwinHills&quot;&gt;#BaldwinHills&lt;/a&gt; Library &amp;amp; &lt;a target=&quot;_blank&quot; rel=&quot;nofollow&quot; href=&quot;http://twitter.com/search?q=%23Free&quot;&gt;#Free&lt;/a&gt; &lt;a target=&quot;_blank&quot; rel=&quot;nofollow&quot; href=&quot;http://twitter.com/search?q=%23HealthTests&quot;&gt;#HealthTests&lt;/a&gt; When a friend was looking for a dog-friendly... &lt;a target=&quot;_blank&quot; rel=&quot;nofollow&quot; href=&quot;http://t.co/KkO20LfHae&quot;&gt;http://t.co/KkO20LfHae&lt;/a&gt;  &lt;/div&gt;

		&lt;ul class=&quot;actions&quot;&gt;
		&lt;li&gt;&lt;a href=&quot;https://twitter.com/intent/tweet?in_reply_to=611942814193164290&quot;&gt;Reply &lt;span class=&quot;element-hidden&quot;&gt;to tweet id=611942814193164290&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;

		&lt;li&gt;&lt;a href=&quot;https://twitter.com/intent/retweet?tweet_id=611942814193164290&quot;&gt;Retweet &lt;span class=&quot;element-hidden&quot;&gt;to tweet id=611942814193164290&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;

		&lt;li&gt;&lt;a href=&quot;https://twitter.com/intent/favorite?tweet_id=611942814193164290&quot;&gt;Favorite &lt;span class=&quot;element-hidden&quot;&gt;to tweet id=611942814193164290&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
		&lt;/ul&gt;
		&lt;/div&gt;
		&lt;/span&gt;  &lt;/div&gt;&lt;/li&gt;
		&lt;li class=&quot;views-row views-row-2 views-row-even&quot;&gt;  
		&lt;div class=&quot;views-field views-field-formatted-tweet&quot;&gt;        &lt;span class=&quot;field-content&quot;&gt;&lt;div class=&quot;twitter-status clearfix&quot;&gt;
		&lt;div class=&quot;avatar&quot;&gt;
		&lt;a title=&quot;LAFD Conversation&quot; href=&quot;https://twitter.com/LAFDtalk&quot;&gt;
		&lt;img alt=&quot;LAFD Conversation&quot; src=&quot;http://pbs.twimg.com/profile_images/482304954799890432/ifvUxIJn_normal.jpeg&quot;&gt;
		&lt;/a&gt;
		&lt;/div&gt;

		&lt;div class=&quot;timestamp&quot;&gt;
		&lt;em class=&quot;placeholder&quot;&gt;10 min 36 sec&lt;/em&gt; ago  &lt;/div&gt;

		&lt;div class=&quot;name-handle&quot;&gt;
		&lt;div class=&quot;name&quot;&gt;
		&lt;a href=&quot;http://twitter.com/LAFDtalk&quot;&gt;LAFD Conversation&lt;/a&gt;
		&lt;/div&gt;

		&lt;div class=&quot;handle&quot;&gt;
		&lt;a href=&quot;http://twitter.com/LAFDtalk&quot;&gt;@LAFDtalk&lt;/a&gt;
		&lt;/div&gt;
		&lt;/div&gt;

		&lt;div class=&quot;text&quot;&gt;
		&lt;a target=&quot;_blank&quot; rel=&quot;nofollow&quot; href=&quot;http://twitter.com/search?q=%23Recall&quot;&gt;#Recall&lt;/a&gt;: Top Fin Plastic Aquarium Heaters Recalled by PetSmart Due to Electrical Shock Hazard &lt;a target=&quot;_blank&quot; rel=&quot;nofollow&quot; href=&quot;http://t.co/QlLE6rL8HM&quot;&gt;http://t.co/QlLE6rL8HM&lt;/a&gt;  &lt;/div&gt;

		&lt;ul class=&quot;actions&quot;&gt;
		&lt;li&gt;&lt;a href=&quot;https://twitter.com/intent/tweet?in_reply_to=611941928276504577&quot;&gt;Reply &lt;span class=&quot;element-hidden&quot;&gt;to tweet id=611941928276504577&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;

		&lt;li&gt;&lt;a href=&quot;https://twitter.com/intent/retweet?tweet_id=611941928276504577&quot;&gt;Retweet &lt;span class=&quot;element-hidden&quot;&gt;to tweet id=611941928276504577&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;

		&lt;li&gt;&lt;a href=&quot;https://twitter.com/intent/favorite?tweet_id=611941928276504577&quot;&gt;Favorite &lt;span class=&quot;element-hidden&quot;&gt;to tweet id=611941928276504577&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
		&lt;/ul&gt;
		&lt;/div&gt;
		&lt;/span&gt;  &lt;/div&gt;&lt;/li&gt;
		&lt;li class=&quot;views-row views-row-3 views-row-odd&quot;&gt;  
		&lt;div class=&quot;views-field views-field-formatted-tweet&quot;&gt;        &lt;span class=&quot;field-content&quot;&gt;&lt;div class=&quot;twitter-status clearfix&quot;&gt;
		&lt;div class=&quot;avatar&quot;&gt;
		&lt;a title=&quot;LAFD Conversation&quot; href=&quot;https://twitter.com/LAFDtalk&quot;&gt;
		&lt;img alt=&quot;LAFD Conversation&quot; src=&quot;http://pbs.twimg.com/profile_images/482304954799890432/ifvUxIJn_normal.jpeg&quot;&gt;
		&lt;/a&gt;
		&lt;/div&gt;

		&lt;div class=&quot;timestamp&quot;&gt;
		&lt;em class=&quot;placeholder&quot;&gt;16 min 48 sec&lt;/em&gt; ago  &lt;/div&gt;

		&lt;div class=&quot;name-handle&quot;&gt;
		&lt;div class=&quot;name&quot;&gt;
		&lt;a href=&quot;http://twitter.com/LAFDtalk&quot;&gt;LAFD Conversation&lt;/a&gt;
		&lt;/div&gt;

		&lt;div class=&quot;handle&quot;&gt;
		&lt;a href=&quot;http://twitter.com/LAFDtalk&quot;&gt;@LAFDtalk&lt;/a&gt;
		&lt;/div&gt;
		&lt;/div&gt;

		&lt;div class=&quot;text&quot;&gt;
		&lt;a target=&quot;_blank&quot; rel=&quot;nofollow&quot; href=&quot;http://twitter.com/search?q=%23LAFD&quot;&gt;#LAFD&lt;/a&gt; Retiree Kevin M. Poore, we mourn your passing and honor your service to Los Angeles &lt;a target=&quot;_blank&quot; rel=&quot;nofollow&quot; href=&quot;http://t.co/gMogxbK7jF&quot;&gt;http://t.co/gMogxbK7jF&lt;/a&gt; &lt;a target=&quot;_blank&quot; rel=&quot;nofollow&quot; href=&quot;http://twitter.com/search?q=%23RIP&quot;&gt;#RIP&lt;/a&gt;  &lt;/div&gt;

		&lt;ul class=&quot;actions&quot;&gt;
		&lt;li&gt;&lt;a href=&quot;https://twitter.com/intent/tweet?in_reply_to=611940368377061376&quot;&gt;Reply &lt;span class=&quot;element-hidden&quot;&gt;to tweet id=611940368377061376&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;

		&lt;li&gt;&lt;a href=&quot;https://twitter.com/intent/retweet?tweet_id=611940368377061376&quot;&gt;Retweet &lt;span class=&quot;element-hidden&quot;&gt;to tweet id=611940368377061376&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;

		&lt;li&gt;&lt;a href=&quot;https://twitter.com/intent/favorite?tweet_id=611940368377061376&quot;&gt;Favorite &lt;span class=&quot;element-hidden&quot;&gt;to tweet id=611940368377061376&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
		&lt;/ul&gt;
		&lt;/div&gt;
		&lt;/span&gt;  &lt;/div&gt;&lt;/li&gt;
		&lt;li class=&quot;views-row views-row-4 views-row-even&quot;&gt;  
		&lt;div class=&quot;views-field views-field-formatted-tweet&quot;&gt;        &lt;span class=&quot;field-content&quot;&gt;&lt;div class=&quot;twitter-status clearfix&quot;&gt;
		&lt;div class=&quot;avatar&quot;&gt;
		&lt;a title=&quot;Port of Los Angeles&quot; href=&quot;https://twitter.com/PortofLA&quot;&gt;
		&lt;img alt=&quot;Port of Los Angeles&quot; src=&quot;http://pbs.twimg.com/profile_images/459454894978506752/fipOfct5_normal.jpeg&quot;&gt;
		&lt;/a&gt;
		&lt;/div&gt;

		&lt;div class=&quot;timestamp&quot;&gt;
		&lt;em class=&quot;placeholder&quot;&gt;17 min 46 sec&lt;/em&gt; ago  &lt;/div&gt;

		&lt;div class=&quot;name-handle&quot;&gt;
		&lt;div class=&quot;name&quot;&gt;
		&lt;a href=&quot;http://twitter.com/PortofLA&quot;&gt;Port of Los Angeles&lt;/a&gt;
		&lt;/div&gt;

		&lt;div class=&quot;handle&quot;&gt;
		&lt;a href=&quot;http://twitter.com/PortofLA&quot;&gt;@PortofLA&lt;/a&gt;
		&lt;/div&gt;
		&lt;/div&gt;

		&lt;div class=&quot;text&quot;&gt;
		RT &lt;a target=&quot;_blank&quot; rel=&quot;nofollow&quot; href=&quot;http://twitter.com/laparksfndtion&quot;&gt;@laparksfndtion&lt;/a&gt;: Thanks 2 grant from &lt;a target=&quot;_blank&quot; rel=&quot;nofollow&quot; href=&quot;http://twitter.com/PortofLA&quot;&gt;@PortofLA&lt;/a&gt;  to LAPF 4 the Cabrillo Beach Pier Fishing Program! &lt;a target=&quot;_blank&quot; rel=&quot;nofollow&quot; href=&quot;http://twitter.com/search?q=%23lapf2008&quot;&gt;#lapf2008&lt;/a&gt; &lt;a target=&quot;_blank&quot; rel=&quot;nofollow&quot; href=&quot;http://twitter.com/search?q=%23parksmakelifebetter&quot;&gt;#parksmakelifebetter&lt;/a&gt; http:/&hellip;  &lt;/div&gt;

		&lt;ul class=&quot;actions&quot;&gt;
		&lt;li&gt;&lt;a href=&quot;https://twitter.com/intent/tweet?in_reply_to=611940122670436352&quot;&gt;Reply &lt;span class=&quot;element-hidden&quot;&gt;to tweet id=611940122670436352&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;

		&lt;li&gt;&lt;a href=&quot;https://twitter.com/intent/retweet?tweet_id=611940122670436352&quot;&gt;Retweet &lt;span class=&quot;element-hidden&quot;&gt;to tweet id=611940122670436352&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;

		&lt;li&gt;&lt;a href=&quot;https://twitter.com/intent/favorite?tweet_id=611940122670436352&quot;&gt;Favorite &lt;span class=&quot;element-hidden&quot;&gt;to tweet id=611940122670436352&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
		&lt;/ul&gt;
		&lt;/div&gt;
		&lt;/span&gt;  &lt;/div&gt;&lt;/li&gt;
		&lt;li class=&quot;views-row views-row-5 views-row-odd&quot;&gt;  
		&lt;div class=&quot;views-field views-field-formatted-tweet&quot;&gt;        &lt;span class=&quot;field-content&quot;&gt;&lt;div class=&quot;twitter-status clearfix&quot;&gt;
		&lt;div class=&quot;avatar&quot;&gt;
		&lt;a title=&quot;Mitch Englander &quot; href=&quot;https://twitter.com/Mitch_Englander&quot;&gt;
		&lt;img alt=&quot;Mitch Englander &quot; src=&quot;http://pbs.twimg.com/profile_images/3467829133/a709d9ead9d43ac1749abd2d6d8ee290_normal.jpeg&quot;&gt;
		&lt;/a&gt;
		&lt;/div&gt;

		&lt;div class=&quot;timestamp&quot;&gt;
		&lt;em class=&quot;placeholder&quot;&gt;25 min 45 sec&lt;/em&gt; ago  &lt;/div&gt;

		&lt;div class=&quot;name-handle&quot;&gt;
		&lt;div class=&quot;name&quot;&gt;
		&lt;a href=&quot;http://twitter.com/Mitch_Englander&quot;&gt;Mitch Englander &lt;/a&gt;
		&lt;/div&gt;

		&lt;div class=&quot;handle&quot;&gt;
		&lt;a href=&quot;http://twitter.com/Mitch_Englander&quot;&gt;@Mitch_Englander&lt;/a&gt;
		&lt;/div&gt;
		&lt;/div&gt;

		&lt;div class=&quot;text&quot;&gt;
		So honored to be recognized by &lt;a target=&quot;_blank&quot; rel=&quot;nofollow&quot; href=&quot;http://twitter.com/valleyvillage&quot;&gt;@valleyvillage&lt;/a&gt; last night! &lt;a target=&quot;_blank&quot; rel=&quot;nofollow&quot; href=&quot;http://twitter.com/search?q=%23thanksamillion&quot;&gt;#thanksamillion&lt;/a&gt; &lt;a target=&quot;_blank&quot; rel=&quot;nofollow&quot; href=&quot;http://t.co/ddXc42vHxe&quot;&gt;http://t.co/ddXc42vHxe&lt;/a&gt;  &lt;/div&gt;

		&lt;ul class=&quot;actions&quot;&gt;
		&lt;li&gt;&lt;a href=&quot;https://twitter.com/intent/tweet?in_reply_to=611938113254920192&quot;&gt;Reply &lt;span class=&quot;element-hidden&quot;&gt;to tweet id=611938113254920192&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;

		&lt;li&gt;&lt;a href=&quot;https://twitter.com/intent/retweet?tweet_id=611938113254920192&quot;&gt;Retweet &lt;span class=&quot;element-hidden&quot;&gt;to tweet id=611938113254920192&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;

		&lt;li&gt;&lt;a href=&quot;https://twitter.com/intent/favorite?tweet_id=611938113254920192&quot;&gt;Favorite &lt;span class=&quot;element-hidden&quot;&gt;to tweet id=611938113254920192&lt;/span&gt;&lt;/a&gt;&lt;/li&gt;
		&lt;/ul&gt;
		&lt;/div&gt;
		&lt;/span&gt;  &lt;/div&gt;&lt;/li&gt;
		


	&lt;/div&gt;
&lt;/section&gt;