<p><button type="submit" class="btn fa-search">Button</button></p>
<p><button type="submit" class="btn alt fa-envelope">Alternate Button</button></p>
<p><button type="submit" class="btn disabled">Disabled Button</button></p>