&lt;div class=&quot;calnav&quot;&gt;
	&lt;div class=&quot;calDay clearfix&quot;&gt;
		&lt;a href=&quot;#&quot;&gt;&lt;div class=&quot;calElement prev&quot;&gt;&lt;div class=&quot;arrow&quot;&gt;&lt;&lt;/div&gt;&lt;/div&gt;&lt;/a&gt;
		&lt;a href=&quot;#&quot;&gt;&lt;div class=&quot;calElement&quot;&gt;SUN&lt;br&gt;
		&lt;span class=&quot;dayNumber&quot;&gt;Jun 14&lt;/span&gt;&lt;/div&gt;&lt;/a&gt;
		&lt;a href=&quot;#&quot;&gt;&lt;div class=&quot;calElement&quot;&gt;MON&lt;br&gt;
		&lt;span class=&quot;dayNumber&quot;&gt;Jun 15&lt;/span&gt;&lt;/div&gt;&lt;/a&gt;
		&lt;a href=&quot;#&quot;&gt;&lt;div class=&quot;calElement selected&quot;&gt;TUE&lt;br&gt;
		&lt;span class=&quot;dayNumber&quot;&gt;Jun 16&lt;/span&gt;&lt;/div&gt;&lt;/a&gt;
		&lt;a href=&quot;#&quot;&gt;&lt;div class=&quot;calElement&quot;&gt;WED&lt;br&gt;
		&lt;span class=&quot;dayNumber&quot;&gt;Jun 17&lt;/span&gt;&lt;/div&gt;&lt;/a&gt;
		&lt;a href=&quot;#&quot;&gt;&lt;div class=&quot;calElement today&quot;&gt;THU&lt;br&gt;
		&lt;span class=&quot;dayNumber&quot;&gt;Jun 18&lt;/span&gt;&lt;/div&gt;&lt;/a&gt;
		&lt;a href=&quot;#&quot;&gt;&lt;div class=&quot;calElement&quot;&gt;FRI&lt;br&gt;
		&lt;span class=&quot;dayNumber&quot;&gt;Jun 19&lt;/span&gt;&lt;/div&gt;&lt;/a&gt;
		&lt;a href=&quot;#&quot;&gt;&lt;div class=&quot;calElement&quot;&gt;SAT&lt;br&gt;
		&lt;span class=&quot;dayNumber&quot;&gt;Jun 20&lt;/span&gt;&lt;/div&gt;&lt;/a&gt;
		&lt;a href=&quot;#&quot;&gt;&lt;div class=&quot;calElement next&quot;&gt;&lt;div class=&quot;arrow&quot;&gt;&gt;&lt;/div&gt;&lt;/div&gt;&lt;/a&gt;
	&lt;/div&gt;
&lt;/div&gt;
&lt;div class=&quot;cal-pager-wrapper clearfix&quot;&gt;
    &lt;div class=&quot;cal-pager item-list&quot;&gt;
      &lt;ul class=&quot;pager&quot;&gt;
        &lt;li class=&quot;date-prev&quot;&gt;
          &lt;a href=&quot;#&quot; title=&quot;Navigate to previous day&quot; rel=&quot;nofollow&quot;&gt;&amp;lt;&amp;lt; Monday, June 15&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;date-next&quot;&gt;
          &lt;a href=&quot;#&quot; title=&quot;Navigate to next day&quot; rel=&quot;nofollow&quot;&gt;Wednesday, June 17 &amp;gt;&amp;gt;&lt;/a&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
&lt;/div&gt;
