<form action="{{ url }}" method="post" class="inline-form search-form is-vishidden">           
    <fieldset>
	    <legend class="is-vishidden">Search</legend>
	    <label for="search-field" class="is-vishidden">Search</label>
	    <input type="search" id="search-field" class="search-field" />
	    <button class="search-submit">
	    	<span>SEARCH</span>
	    </button>
    </fieldset>
</form>