<form action="{{ url }}" method="post" class="inline-form log-in-form">  
    <fieldset>
	    <div class="inline-container">
	    	<label for="username-field">Username</label>
	   		<input type="text" placeholder="Enter username" id="username-field" class="username-field" />
	   		<label for="password-field">Password</label>
	   		<input type="password" placeholder="Enter password" id="password-field" class="password-field" />
	    	<button class="btn log-in-submit">Log In</button>
		</div>
    </fieldset>
</form>