<form action="{{ url }}" method="post" class="inline-form log-in-form">  
    <fieldset>
	    <div class="inline-container">
	   		<input type="text" placeholder="Username" id="username-field" class="username-field" />
	   		<input type="password" placeholder="Password" id="password-field" class="password-field" />
	    	<button class="btn log-in-submit">Log In</button>
		</div>
    </fieldset>
</form>