<!DOCTYPE html>
<html class="{{ htmlClass }}">
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />
		<script src="http://globalnav.lacity.org/global_nav_2.0.js"></script> 
		<link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Droid+Sans:400' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="../../css/style.css?{{ cacheBuster }}" media="all" />
		<link href='../../css/flexslider.css' rel='stylesheet' type='text/css'>
		<script src="../../js/jquery-2.0.0b2.js"></script>
		<script src="../../js/jquery.flexslider-min.js"></script>
		<meta name="robots" content="noindex" />
		<meta name="robots" content="nofollow" />
		<meta name="robots" content="noarchive" />
		<meta name="googlebot" content="nosnippet" />
		<meta name="robots" content="noodp" />
		<meta name="slurp" content="noydir">
		<meta name="robots" content="noimageindex,nomediaindex" />
		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{% pattern-lab-head %}
		<!-- End Pattern Lab -->
	</head>
	<body class="{{ bodyClass }}">	
		