<div class="page" id="slider-hero">
	{{> organisms-header }}
		{{> molecules-slider-hero }}
	<div role="main">
    {{> molecules-breadcrumbs }}
		<div class="l-two-col">
			<div class="l-main">
          Page content here.
			</div><!--end l-main-->

			<div class="l-sidebar">
				{{> organisms-related-posts }}
				{{> organisms-recent-tweets }}
			</div><!--end l-sidebar-->
		</div><!--end l-two-col-->	
	</div><!--End role=main-->
	{{> organisms-footer }}
	{{> molecules-social-share }}
</div>