<div class="page" id="page">
	{{> organisms-header }}
	{{# emergency }}
	{{> molecules-alert:error }}
	{{/ emergency }}
	{{# hero }}
	{{> molecules-block-hero-log-in }}
	{{/ hero}}
	{{> molecules-disclaimer-slab }}
	{{> organisms-footer }}	
</div><!--End #page.page-->