ul.sg-colors{
	li{
		width: 100%;
		@media all and (min-width: $bp-med) {
			float: left;
			width: 8em;
		}
		span.lrg {
			height: 1.5em;
			width: 99%;
			@media all and (min-width: $bp-med) {
				height: 7em;
				width: 7em;	
			}
		}
	}
}

.color-test{
	display: none;
	@media all and (min-width: 30em) {
		display: inherit;
		position: relative;
		bottom: 3.5em;
		left: 0.5em;
		height: 0;
		.result span{
			padding-right: 0.7em;
			&.pass{
				color: lightgreen;
			}
			&.fail{
				color: red;
			}
		}
	}
}