/*------------------------------------*\
    $FORMS
\*------------------------------------*/
form ol, form ul {
	list-style: none;
	margin-left: 0;
}

fieldset {
	border: 1px solid $gray;
	padding: 1.5em;
	margin: 0;
	@include vendor-prefix(border-radius, 5px);
}

label {
	display: block;
	padding-bottom: $space-half;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0 1px 0;
    @include vendor-prefix(border-radius, 5px);
}

input, textarea {
	width: 100%;
	border: 1px solid $gray;
	padding: $pad-half 0.65rem;
}

input[type=text], input[type=search], input[type=url], input[type=number], textarea {
	-webkit-appearance: none;
}

button, input[type="submit"] {
	padding: $pad-half;
	background: $gray-dark;
	border: 1px solid $gray;
	cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
    margin-right: 0.3em;
}

input[type="search"] {
    -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

//Form Field Container
.field-container {
	margin-bottom: $space;
}

.inline-form {
	fieldset, .inline-container {
		position: relative;
		border: 0;
		padding: 0;
	}
	
	input[type=submit], button, .btn {
		font-size: $font-size-small-2;
		padding: 0.65rem 1.3rem;
		background: $gray-dark;
		position: relative;
		top: 0;
		right: 0;
		z-index: 1;
		width: auto;
		&:hover, &:focus {
			background: $gray;
			color: $white;
		}
	}
}

/* Validation */
.is-error {
	border-color: $error;
}
.is-valid {
	border-color: $valid;
}




/*------------------------------------*\
    $SPECIFIC FORMS
\*------------------------------------*/

/* Search Form */
.search-field {
	margin: 0 10px;
	max-width: 878px;
		@media all and (max-width: $bp-med-2){
			max-width: 580px;
		}
}
.inline-form .search-submit {
	background: $orange;
	border: 0;
	color: $white;
	font-weight: bold;
	padding: 0.78em 1em;
}

/* Newsletter Form */
.newsletter-form{
	div.inline-container{
		width: 100%;
	  	padding: 0 8.5em 0 0;
	}
	button.newsletter-submit{
		background: $classicblue;
		padding: 0.75rem 1.3rem;
		&:hover{
			background: $gray-med;
		}

	}
}