/* Text-Related Elements */ 
p {
    font-size: 1em;
    line-height: 1.25em;
    @media all and (min-width: $bp-med-2){
        line-height: 1.375em;
    }
    margin-bottom: $space;
}

/* Blockquote */
blockquote {
    font-weight: 700;
    background-color: $lightgreen;
    color: $gray-med;
	padding: $pad $pad-double;
	margin-bottom: $space;
    font-size: 1.25em;
    line-height: 1.25em;
    @media all and (min-width: $bp-med-2){
        font-size: 1.5em;
        line-height: 1.45833333em;
    }
}

/* Horizontal Rule */ 
hr {
	border: 0;
    height: 2px;
    background: $gray-light-2;
    margin: $space-double 0;
}

abbr {
    border-bottom: 1px dotted $gray;
    cursor: help;
    color: $orange;
}