&lt;div class=&quot;view view-events-calendar-with-ens view-id-events_calendar_with_ens view-display-id-page_4 view-dom-id-b239610f19bf0f3887d56b9e1589158d&quot;&gt;
  &lt;div class=&quot;view-header&quot;&gt;
    &lt;div class=&quot;date-nav-wrapper clearfix&quot;&gt;
      &lt;div class=&quot;date-nav item-list&quot;&gt;
        &lt;div class=&quot;date-heading&quot;&gt;
          &lt;h3&gt;Tuesday, June 16, 2015&lt;/h3&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;div class=&quot;view-content&quot;&gt;
    &lt;div class=&quot;item-list&quot;&gt;      
      &lt;h4&gt;&lt;span class=&quot;date-display-single&quot;&gt;9:00 am&lt;/span&gt;&lt;/h4&gt;
        &lt;ul&gt;
          &lt;li class=&quot;views-row views-row-1 views-row-odd views-row-first&quot;&gt;  
            &lt;a href=&quot;#&quot; target=&quot;_blank&quot;&gt;Transportation Committee, Special Meeting&lt;/a&gt;
          &lt;/li&gt;
          &lt;li class=&quot;views-row views-row-2 views-row-even views-row-last&quot;&gt;  
            &lt;a href=&quot;#&quot; target=&quot;_blank&quot;&gt;Education &amp;amp; Neighborhoods Committee - SPECIAL MEETING&lt;/a&gt;
          &lt;/li&gt;
        &lt;/ul&gt;
      &lt;/div&gt;
    &lt;div class=&quot;item-list&quot;&gt;
      &lt;h4&gt;&lt;span class=&quot;date-display-single&quot;&gt;10:00 am&lt;/span&gt;&lt;/h4&gt;
      &lt;ul&gt;
        &lt;li class=&quot;views-row views-row-1 views-row-odd views-row-first views-row-last&quot;&gt;  
          &lt;a href=&quot;#&quot; target=&quot;_blank&quot;&gt;Los Angeles City Council Agenda&lt;/a&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
    &lt;div class=&quot;item-list&quot;&gt;
      &lt;h4&gt;&lt;span class=&quot;date-display-single&quot;&gt;1:00 pm&lt;/span&gt;&lt;/h4&gt;
      &lt;ul&gt;
        &lt;li class=&quot;views-row views-row-1 views-row-odd views-row-first views-row-last&quot;&gt;  
          &lt;a href=&quot;#&quot; target=&quot;_blank&quot;&gt;Education &amp;amp; Neighborhoods Committee Meeting - CANCELLED&lt;/a&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
    &lt;div class=&quot;item-list&quot;&gt;
      &lt;h4&gt;&lt;span class=&quot;date-display-single&quot;&gt;2:30 pm&lt;/span&gt;&lt;/h4&gt;
        &lt;ul&gt;
          &lt;li class=&quot;views-row views-row-1 views-row-odd views-row-first views-row-last&quot;&gt;  
            &lt;a href=&quot;#&quot; target=&quot;_blank&quot;&gt;Planning and Land Use Management Committee Meeting&lt;/a&gt;
          &lt;/li&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    &lt;div class=&quot;item-list&quot;&gt;
      &lt;h4&gt;&lt;span class=&quot;date-display-single&quot;&gt;3:00 pm&lt;/span&gt;&lt;/h4&gt;
      &lt;ul&gt;
        &lt;li class=&quot;views-row views-row-1 views-row-odd views-row-first&quot;&gt;  
          &lt;a href=&quot;#&quot; target=&quot;_blank&quot;&gt;Audits Committee Meeting&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;views-row views-row-2 views-row-even views-row-last&quot;&gt;  
         &lt;a href=&quot;#&quot; target=&quot;_blank&quot;&gt;Personnel &amp;amp; Animal Welfare Committee Meeting&lt;/a&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;