<div class="colorbulletlist">
	<ul>
		<li><span>This is a list item in an unordered list</span></li>
		<li><span>An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. </span></li>
		<li><span>
			Lists can be nested inside of each other
			<ul>
				<li><span>This is a nested list item</span></li>
				<li><span>This is another nested list item in an unordered list</span></li>
			</ul></span>
		</li>
		<li><span>This is the last list item</span></li>
	</ul>
</div>