/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

//Colors

//Vibrant
$lightblue: #63C9F7;
$richred: #CC2A14;
$lightgreen: #92CC4E;
$yellow: #FFEB3B;

//Business
$orange: #CC4E10;
$classicblue: #014982;
$teal: #00758C;
$burgundy: #800D20;
$richgreen: #326E1E;
$classicgold: #F9B000;

//Shades & Tints
$white : #fff;
$gray : #E0E0E0;
$gray-light : $gray;
$gray-light-2 : $gray;
$gray-light-3 : $gray;
$gray-med : #474747;
$gray-dark : $gray-med;
$gray-dark-2 : $gray-med;
$black : #212121;
$dim : rgba(0,0,0,0.5);

$error : $richred;
$valid : $lightgreen;
$warning : #fff664;
$information : #000db5;


//Typography
$font : 'Varela', sans-serif;
$font-secondary : 'Droid Sans', sans-serif;

$font-size-small : 0.75em;
$font-size-small-2 : 0.875em;
$font-size-med : 1em;
$font-size-med-2: 1.0625em;
$font-size-large : 1.4375em;


//Layout
$max-width: 64em;

//Defaults
$space-none : 0;
$space : 1em;
$space-and-half : $space*1.5;
$space-double : $space*2;
$space-quad : $space*4;
$space-half : $space/2;
$pad : 1em;
$pad-and-half : $pad*1.5;
$pad-double : $pad*2;
$pad-half : $pad/2;
$pad-quarter :$pad/4;

//Borders
$border-med: 3px;
$border-thick: 7px;


//Breakpoints
$bp-small : 320px; //Phone
$bp-small-2 : 29.75em;
$bp-small-3 : 39.8em;
$bp-med : 480px; //Tablet
$bp-med-2 : 720px; //Tablet Wide
$bp-large : 960px; //Desktop
$bp-large-2 : 1280px; //Desktop Wide
$bp-xl : 73em;
$bp-xxl : 89em;
$bp-xxxl : 93em;
