<!-- Begin Footer -->
<footer class="footer" role="contentinfo">
	<div class="lc wrapper flexGRID">
        <div class="row">
            <div class="col_4">
                <h3>Style Guide</h3>
                <p>City of Los Angeles</p>
                <ul class="address-container left">
                  <i class="fa fa-map-marker"></i><li class="location right">200 N. Main Street,<br />
                  RM 1500 CHE<br />
                  Los Angeles, CA 90012</li>
                  <li class="phone clearfix"><i class="fa fa-phone"></i>+1-213-473-7500</li>
                  <li class="email"><i class="fa fa-envelope"></i>innovate@lacity.org</li>
                </ul>
            </div>
            <div class="col_4">
			<p class="copyright">&copy; 2015. All rights reserved.<br />Disclaimer | Privacy Policy</p>
            </div>
            <div class="col_4 last">
      {{> molecules-footer-nav }}
			      </div>
        </div>
    </div>
</footer>
{{> molecules-social-share }}
<!-- End Footer -->