<!-- Begin Footer -->
<footer class="footer" role="contentinfo">
	<div class="lc">
		<div>
			<h3>Style Guide</h3>
			<p>City of Los Angeles</p>
			<p class="copyright">&copy; 2015 Company Name. All rights reserved. | Disclaimer | Privacy Policy</p>
		</div>
		<div>
			<address>
			200 N. Main Street,
			RM 1500 CHE
			Los Angeles, CA 90012
			</address>
		</div>
		{{> molecules-footer-nav }}
	</div>
	<div class="wrapper flexGRID">
        <div class="row">
            <div class="col_4">
                STYLE GUIDE <br>
City of Los Angeles
            </div>
            <div class="col_4">
            200 N. Main Street,<br>
			RM 1500 CHE<br>
			Los Angeles, CA 90012<br>  
            </div>
            <div class="col_4 last">
            Who Are We<br>
			Commission Members<br>
			Leader & Oversight<br>
			Innovate Fund<br>
			Agendas & Minutes<br>
			Calendar<br>
			What’s New<br>
			Contact Us<br>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->