<nav id="nav" class="nav">
	<ul class="nav-links">
		<li><a href="#">City Directory</a></li>
		<li><a href="#">| Traffic Info</a></li>
	</ul>
	<ul class="nav-list">
		<li><a class="nav-button hide" href="{{ url }}"><img src="../../images/weather_icon.png"></a></li>
		<li>
			<a class="nav-button" href="{{ url }}">
				<img src="../../images/feedback_icon.png">
				<!-- <i class="fa fa-institution"></i> -->
			</a>
		</li>
		<li>
			<a class="nav-button search" href="{{ url }}">
				<img src="../../images/localsearch_icon.png">
			</a>
		</li>
		<li>
			<a class="nav-button menu" href="{{ url }}">
				<!-- <img src="../../images/menu_icon.png"> -->
				<i class="fa fa-bars"></i>
			</a>
		</li>
	</ul>
</nav><!--end .nav-->
