<nav id="nav" class="nav">
	<ul class="nav-list">
		<li><a href="{{ url }}"><div class="nav-button"><img src="../../images/weather_icon.png"></div></a></li>
		<li><a href="{{ url }}"><img src="../../images/feedback_icon.png"></a></li>
		<li><a href="{{ url }}"><img src="../../images/localsearch_icon.png"></a></li>
		<li><a href="{{ url }}"><img src="../../images/menu_icon.png"></a></li>
	</ul>
</nav><!--end .nav-->
