<div class="drop-down">
	<ul class="lvl1">
		<li>Home</li>
		<li class="open">Innovation Fund <img src="../../images/arrow-white.png"></li>
		<ul class="lvl2">
			<li>Overview</li>
			<li>Submit</li>
			<li>FAQ</li>
			<li>Ideas</li>
			<li>Outreach Materials</li>
		</ul>
		<li>Agendas & Minutes <img src="../../images/arrow-white.png"></li>
		<li>Calendar</li>
		<li>What's New <img src="../../images/arrow-white.png"></li>
		<li>Contact Us</li>
	</ul>
</div>