<ul class="nav-footer">
	<li><a href="{{ url }}">Who Are We</a></li>
	<li><a href="{{ url }}">Commission Memebers</a></li>
	<li><a href="{{ url }}">Leader & Oversight</a></li>
	<li><a href="{{ url }}">Innovate Fund</a></li>
	<li><a href="{{ url }}">Agendas & Minutes</a></li>
	<li><a href="{{ url }}">Calendar</a></li>
	<li><a href="{{ url }}">What's New</a></li>
	<li><a href="{{ url }}">Contact Us</a></li>
</ul>