<div class="calnav">
	<div class="calDay clearfix">
		<a href="#"><div class="calElement prev"><div class="arrow"><</div></div></a>
		<a href="#"><div class="calElement">SUN<br>
		<span class="dayNumber">Jun 14</span></div></a>
		<a href="#"><div class="calElement">MON<br>
		<span class="dayNumber">Jun 15</span></div></a>
		<a href="#"><div class="calElement selected">TUE<br>
		<span class="dayNumber">Jun 16</span></div></a>
		<a href="#"><div class="calElement">WED<br>
		<span class="dayNumber">Jun 17</span></div></a>
		<a href="#"><div class="calElement today">THU<br>
		<span class="dayNumber">Jun 18</span></div></a>
		<a href="#"><div class="calElement">FRI<br>
		<span class="dayNumber">Jun 19</span></div></a>
		<a href="#"><div class="calElement">SAT<br>
		<span class="dayNumber">Jun 20</span></div></a>
		<a href="#"><div class="calElement next"><div class="arrow">></div></div></a>
	</div>
</div>
<div class="cal-pager-wrapper clearfix">
    <div class="cal-pager item-list">
      <ul class="pager">
        <li class="date-prev">
          <a href="http://www.lacity.org/city-government/elected-official-offices/city-council/council-calendar?date=2015-06-15" title="Navigate to previous day" rel="nofollow">&lt;&lt; Monday, June 15</a>
        </li>
        <li class="date-next">
          <a href="http://www.lacity.org/city-government/elected-official-offices/city-council/council-calendar?date=2015-06-17" title="Navigate to next day" rel="nofollow">Wednesday, June 17 &gt;&gt;</a>
        </li>
      </ul>
    </div>
</div>
