<div class="calnav">
	<div class="calDay clearfix">
		<a href="#"><div class="calElement prev"><div class="arrow"><</div></div></a>
		<a href="#"><div class="calElement" style="width: 71px;">SUN<br>
		<span class="dayNumber">Jun 14</span></div></a>
		<a href="#"><div class="calElement" style="width: 71px;">MON<br>
		<span class="dayNumber">Jun 15</span></div></a>
		<a href="#"><div class="calElement selected" style="width: 71px;">TUE<br>
		<span class="dayNumber">Jun 16</span></div></a>
		<a href="#"><div class="calElement" style="width: 71px;">WED<br>
		<span class="dayNumber">Jun 17</span></div></a>
		<a href="#"><div class="calElement today" style="width: 71px;">THU<br>
		<span class="dayNumber">Jun 18</span></div></a>
		<a href="#"><div class="calElement" style="width: 71px;">FRI<br>
		<span class="dayNumber">Jun 19</span></div></a>
		<a href="#"><div class="calElement" style="width: 71px;">SAT<br>
		<span class="dayNumber">Jun 20</span></div></a>
		<a href="#"><div class="calElement next"><div class="arrow">></div></div></a>
	</div>
</div>