<div id="weeknav" class="calnav">
	<div class="calElement prev"></div>
	<div class="calElement" style="width: 71px;">SUN<br>
	<span class="dayNumber">Jun 14</span></div>
	<div class="calElement" style="width: 71px;">MON<br>
	<span class="dayNumber">Jun 15</span></div>
	<div class="calElement selected" style="width: 71px;">TUE<br>
	<span class="dayNumber">Jun 16</span></div>
	<div class="calElement" style="width: 71px;">WED<br>
	<span class="dayNumber">Jun 17 #TEST</span></div>
	<div class="calElement today" style="width: 71px;">THU<br>
	<span class="dayNumber">Jun 18</span></div>
	<div class="calElement" style="width: 71px;">FRI<br>
	<span class="dayNumber">Jun 19</span></div>
	<div class="calElement" style="width: 71px;">SAT<br>
	<span class="dayNumber">Jun 20</span></div>
	<div class="calElement next"></div>
</div>