<h2 class="element-invisible">Pages</h2><div class="item-list"><ul class="pager"><li class="pager-current first">1</li>
<li class="pager-item"><a title="Go to page 2" href="/tweets?page=1">2</a></li>
<li class="pager-item"><a title="Go to page 3" href="/tweets?page=2">3</a></li>
<li class="pager-item"><a title="Go to page 4" href="/tweets?page=3">4</a></li>
<li class="pager-item"><a title="Go to page 5" href="/tweets?page=4">5</a></li>
<li class="pager-item"><a title="Go to page 6" href="/tweets?page=5">6</a></li>
<li class="pager-item"><a title="Go to page 7" href="/tweets?page=6">7</a></li>
<li class="pager-item"><a title="Go to page 8" href="/tweets?page=7">8</a></li>
<li class="pager-item"><a title="Go to page 9" href="/tweets?page=8">9</a></li>
<li class="pager-ellipsis">…</li>
<li class="pager-next"><a title="Go to next page" href="/tweets?page=1">next ›</a></li>
<li class="pager-last last"><a title="Go to last page" href="/tweets?page=1318">last »</a></li>
</ul></div> 