<!-- Slider -->
<script type="text/javascript" charset="utf-8">
$(window).load(function() {
	$('#carousel').flexslider({
		animation: "slide",
		controlNav: false,
		directionNav: true,   
		animationLoop: false,
		slideshow: false,
		itemWidth: 134,
		itemMargin: 0,
		asNavFor: '#slider'
	});
	$('#slider').flexslider({
		animation: "fade",
		controlNav: false,
		slideshow: true,
		slideshowSpeed: 7000,
		animationDuration: 600,  
		sync: "#carousel"
	});
	
	$(".cbox-fit-photo").colorbox({width:"100%", height:"90%"});
});
</script>
<div id="slider" class="flexslider">
  <ul class="slides">
    <li>
		<div class="slide-expand"><a href="../../images/slider/01_Slide.jpg" class="cboxElement cboxOverlay cboxWrapper cbox-fit-photo"><i class="fa fa-2x fa-arrows"></i></a>
		</div>
		<div class="field-caption-content" style="display:none;">
			<div class="field-caption-title">
			Discover Los Angeles
			</div>
			<div class="field-caption">
			Description: DiscoverLosAngeles.com is the official guide to Los Angeles. Find great deals, new attractions, free things to do and more. Start planning your perfect Southern California vacation today.
			</div>
			<div class="field-location">
			Location: Los Angeles
			</div>
			<div class="field-photo-source">
			Photo Source: DiscoverLosAngeles.com
			</div>
		</div>
      <img src="../../images/slider/01_Slide.jpg" alt="Slide 1" />
	  <p class="flex-caption">Los Angeles World Airports consists of Los Angeles International Airport (LAX), Ontario International Airport (ONT), and Van Nuys Airport (VNY), which are among the busiest in the world.</p>
    </li>
    <li>
		<div class="slide-expand"><a href="../../images/slider/01_Slide.jpg" class="cboxElement cboxOverlay cboxWrapper cbox-fit-photo"><i class="fa fa-2x fa-arrows"></i></a>
		</div>
		<div class="field-caption-content" style="display:none;">
			<div class="field-caption-title">
			Downtown Los Angeles
			</div>
			<div class="field-caption">
			Description: Once famed for smog and traffic, today’s Downtown LA is a destination reborn with an emphases on culture and green spaces.
			</div>
			<div class="field-location">
			Location: Los Angeles
			</div>
			<div class="field-photo-source">
			Photo Source: Image courtesy of Expedia Tourism Media
			</div>
		</div>
      <img src="../../images/slider/02_Slide.jpg" alt="Slide 2" />
	  <p class="flex-caption">Slide 2 Caption</p>
    </li>
    <li>
      <img src="../../images/slider/03_Slide.jpg" alt="Slide 3" />
	  <p class="flex-caption">Slide 3 Caption</p>
    </li>
    <li>
      <img src="../../images/slider/04_Slide.jpg" alt="Slide 4" />
	  <p class="flex-caption">Slide 4 Caption</p>
    </li>
    <li>
      <img src="../../images/slider/01_Slide.jpg" alt="Slide 5" />
	  <p class="flex-caption">Slide 5 Caption</p>
    </li>
    <li>
      <img src="../../images/slider/02_Slide.jpg" alt="Slide 6" />
	  <p class="flex-caption">Slide 6 Caption</p>
    </li>
    <li>
      <img src="../../images/slider/03_Slide.jpg" alt="Slide 7" />
	  <p class="flex-caption">Slide 7 Caption</p>
    </li>
    <li>
      <img src="../../images/slider/04_Slide.jpg" alt="Slide 8" />
	  <p class="flex-caption">Slide 8 Caption</p>
    </li>
	<li>
      <img src="../../images/slider/01_Slide.jpg" alt="Slide 9" />
	  <p class="flex-caption">Slide 9 Caption</p>
    </li>
    <li>
      <img src="../../images/slider/02_Slide.jpg" alt="Slide 10" />
	  <p class="flex-caption">Slide 10 Caption</p>
    </li>
    <li>
      <img src="../../images/slider/03_Slide.jpg" alt="Slide 11" />
	  <p class="flex-caption">Slide 11 Caption</p>
    </li>
    <li>
      <img src="../../images/slider/04_Slide.jpg" alt="Slide 12" />
	  <p class="flex-caption">Slide 12 Caption</p>
    </li>
  </ul>
  <i class="fa fa-2x fa-camera"></i>
</div>

<div id="carousel" class="flexslider">
  <ul class="slides">
    <li>
      <img src="../../images/slider/01_Slide.jpg" alt="Slide 1" />
    </li>
    <li>
      <img src="../../images/slider/02_Slide.jpg" alt="Slide 2" />
    </li>
    <li>
      <img src="../../images/slider/03_Slide.jpg" alt="Slide 3" />
    </li>
    <li>
      <img src="../../images/slider/04_Slide.jpg" alt="Slide 4" />
    </li>
    <li>
      <img src="../../images/slider/01_Slide.jpg" alt="Slide 5" />
    </li>
    <li>
      <img src="../../images/slider/02_Slide.jpg" alt="Slide 6" />
    </li>
    <li>
      <img src="../../images/slider/03_Slide.jpg" alt="Slide 7" />
    </li>
    <li>
      <img src="../../images/slider/04_Slide.jpg" alt="Slide 8" />
    </li>
	    <li>
      <img src="../../images/slider/01_Slide.jpg" alt="Slide 9" />
    </li>
    <li>
      <img src="../../images/slider/02_Slide.jpg" alt="Slide 10" />
    </li>
    <li>
      <img src="../../images/slider/03_Slide.jpg" alt="Slide 11" />
    </li>
    <li>
      <img src="../../images/slider/04_Slide.jpg" alt="Slide 12" />
    </li>
  </ul>
</div>