<!-- Slider -->
<script type="text/javascript" charset="utf-8">
$(window).load(function() {
	$('#carousel').flexslider({
		animation: "slide",
		controlNav: false,
		directionNav: false,   
		animationLoop: false,
		slideshow: false,
		itemWidth: 134,
		itemMargin: 0,
		asNavFor: '#slider'
	});
	$('#slider').flexslider({
		animation: "slide",
		controlNav: false,
		slideshow: true,
		slideshowSpeed: 7000,
		animationDuration: 600,  
		sync: "#carousel"
	});
	
	$(".cbox-fit-photo").colorbox({width:"100%", height:"90%"});
});
</script>
<div id="slider" class="flexslider">
  <ul class="slides">
    <li>
      <img src="../../images/slider/01_Slide.jpg" alt="Slide 1" />
	  <p class="flex-caption">Slide 1 Caption <a href="../../images/slider/01_Slide.jpg" class="cboxElement cboxOverlay cboxWrapper cbox-fit-photo right"><i class="fa fa-arrows"></i></a></p>
    </li>
    <li>
      <img src="../../images/slider/02_Slide.jpg" alt="Slide 2" />
	  <p class="flex-caption">Slide 2 Caption</p>
    </li>
    <li>
      <img src="../../images/slider/03_Slide.jpg" alt="Slide 3" />
	  <p class="flex-caption">Slide 3 Caption</p>
    </li>
    <li>
      <img src="../../images/slider/04_Slide.jpg" alt="Slide 4" />
	  <p class="flex-caption">Slide 4 Caption</p>
    </li>
    <li>
      <img src="../../images/slider/01_Slide.jpg" alt="Slide 5" />
	  <p class="flex-caption">Slide 5 Caption</p>
    </li>
    <li>
      <img src="../../images/slider/02_Slide.jpg" alt="Slide 6" />
	  <p class="flex-caption">Slide 6 Caption</p>
    </li>
    <li>
      <img src="../../images/slider/03_Slide.jpg" alt="Slide 7" />
	  <p class="flex-caption">Slide 7 Caption</p>
    </li>
    <li>
      <img src="../../images/slider/04_Slide.jpg" alt="Slide 8" />
	  <p class="flex-caption">Slide 8 Caption</p>
    </li>    <li>
      <img src="../../images/slider/01_Slide.jpg" alt="Slide 9" />
	  <p class="flex-caption">Slide 9 Caption</p>
    </li>
    <li>
      <img src="../../images/slider/02_Slide.jpg" alt="Slide 10" />
	  <p class="flex-caption">Slide 10 Caption</p>
    </li>
    <li>
      <img src="../../images/slider/03_Slide.jpg" alt="Slide 11" />
	  <p class="flex-caption">Slide 11 Caption</p>
    </li>
    <li>
      <img src="../../images/slider/04_Slide.jpg" alt="Slide 12" />
	  <p class="flex-caption">Slide 12 Caption</p>
    </li>
  </ul>
</div>

<div id="carousel" class="flexslider">
  <ul class="slides">
    <li>
      <img src="../../images/slider/01_Slide.jpg" alt="Slide 1" />
    </li>
    <li>
      <img src="../../images/slider/02_Slide.jpg" alt="Slide 2" />
    </li>
    <li>
      <img src="../../images/slider/03_Slide.jpg" alt="Slide 3" />
    </li>
    <li>
      <img src="../../images/slider/04_Slide.jpg" alt="Slide 4" />
    </li>
    <li>
      <img src="../../images/slider/01_Slide.jpg" alt="Slide 5" />
    </li>
    <li>
      <img src="../../images/slider/02_Slide.jpg" alt="Slide 6" />
    </li>
    <li>
      <img src="../../images/slider/03_Slide.jpg" alt="Slide 7" />
    </li>
    <li>
      <img src="../../images/slider/04_Slide.jpg" alt="Slide 8" />
    </li>
	    <li>
      <img src="../../images/slider/01_Slide.jpg" alt="Slide 9" />
    </li>
    <li>
      <img src="../../images/slider/02_Slide.jpg" alt="Slide 10" />
    </li>
    <li>
      <img src="../../images/slider/03_Slide.jpg" alt="Slide 11" />
    </li>
    <li>
      <img src="../../images/slider/04_Slide.jpg" alt="Slide 12" />
    </li>
  </ul>
</div>