&lt;section class=&quot;section slab-posts&quot;&gt;
	LA is the global capital of creativity &ndash; and we know that City employees and Commissioners have great ideas for how we could do our work better.
&lt;/section&gt;