<form action="/tested-poll" method="post" id="poll-view-voting" accept-charset="UTF-8"><div><div class="poll">
  <div class="vote-form">
    <div class="choices">
            <div class="form-item form-type-radios form-item-choice">
  <label class="element-invisible" for="edit-choice">Choices </label>
 <div id="edit-choice" class="form-radios"><div class="form-item form-type-radio form-item-choice">
 <input id="edit-choice-1" name="choice" value="1" class="form-radio" type="radio">  <label class="option" for="edit-choice-1">Jamie </label>

</div>
<div class="form-item form-type-radio form-item-choice">
 <input id="edit-choice-2" name="choice" value="2" class="form-radio" type="radio">  <label class="option" for="edit-choice-2">Adam </label>

</div>
<div class="form-item form-type-radio form-item-choice">
 <input id="edit-choice-3" name="choice" value="3" class="form-radio" type="radio">  <label class="option" for="edit-choice-3">Will </label>

</div>
<div class="form-item form-type-radio form-item-choice">
 <input id="edit-choice-4" name="choice" value="4" class="form-radio" type="radio">  <label class="option" for="edit-choice-4">Norm </label>

</div>
</div>
</div>
    </div>
    <input id="edit-vote" name="op" value="Vote" class="form-submit" type="submit">  </div>
    <input name="form_build_id" value="form-Di-xtmlA_RPZRILOx4nkknyPwvNj8AF-gZH6l7A62XE" type="hidden">
<input name="form_token" value="dCR4rdicnxQRZKetcWqXOeKjo3R_C8mmi-LJwiv7h4c" type="hidden">
<input name="form_id" value="poll_view_voting" type="hidden">
</div>
</div></form>