<script type="text/javascript" charset="utf-8">
		$(window).load(function() {
			$('.flexslider').flexslider();
		});
</script>
<div class="flexslider">
  <ul class="slides">
    <li>
      <img src="../../images/slider/01_Slide.jpg" alt="Slide 1" />
    </li>
    <li>
      <img src="../../images/slider/02_Slide.jpg" alt="Slide 2" />
    </li>
    <li>
      <img src="../../images/slider/03_Slide.jpg" alt="Slide 3" />
    </li>
    <li>
      <img src="../../images/slider/04_Slide.jpg" alt="Slide 4" />
    </li>
  </ul>
</div>