<!-- Slider -->

	<script type="text/javascript" charset="utf-8">
		$(window).load(function() {
			$('.flexslider').flexslider();
		});
	</script>
<div class="flexslider">
  <ul class="slides">
    <li>
      <img src="../../images/sample/tout-4x3-climber.jpg" />
    </li>
    <li>
      <img src="../../images/sample/tout-4x3-climbers.jpg" />
    </li>
    <li>
      <img src="../../images/sample/tout-4x3-stream.jpg" />
    </li>
  </ul>
</div>