&lt;h2&gt;Vibrant Colors&lt;/h2&gt;
&lt;ul class=&quot;sg-colors&quot;&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Orange&lt;/span&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #CC4E10;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#CC4E10&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-label&quot;&gt;ClassicBlue&lt;/span&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #014982;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#014982&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-label&quot;&gt;LightBlue&lt;/span&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #63C9F7;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#63C9F7&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-label&quot;&gt;RichRed&lt;/span&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #CC2A14;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#CC2A14&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-label&quot;&gt;LightGreen&lt;/span&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #92CC4E;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#92CC4E&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Yellow&lt;/span&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #FFEB3B;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#FFEB3B&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;
&lt;h2&gt;Business Colors&lt;/h2&gt;
&lt;ul class=&quot;sg-colors&quot;&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Orange&lt;/span&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #CC4E10;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#CC4E10&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-label&quot;&gt;ClassicBlue&lt;/span&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #014982;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#014982&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Teal&lt;/span&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #00758C;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#00758C&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Burgundy&lt;/span&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #800D20;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#800D20&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-label&quot;&gt;RichGreen&lt;/span&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #326E1E;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#326E1E&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-label&quot;&gt;ClassicGold&lt;/span&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #F9B000;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#F9B000&lt;/span&gt;
	&lt;/li&gt;
&lt;/ul&gt;
&lt;h2&gt;Shades&lt;/h2&gt;
&lt;ul class=&quot;sg-colors&quot;&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-label&quot;&gt;Black(87%)&lt;/span&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #212121;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#212121&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-label&quot;&gt;DarkGrey(72%)&lt;/span&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #474747;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#474747&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-label&quot;&gt;LightGrey(12%)&lt;/span&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #E0E0E0;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#E0E0E0&lt;/span&gt;
	&lt;/li&gt;
	&lt;li&gt;
		&lt;span class=&quot;sg-label&quot;&gt;White&lt;/span&gt;
		&lt;span class=&quot;sg-swatch&quot; style=&quot;background: #FFFFFF;&quot;&gt;&lt;/span&gt;
		&lt;span class=&quot;sg-label&quot;&gt;#FFFFFF&lt;/span&gt;
	&lt;/li&gt;
 &lt;/ul&gt;
