//Article
.article-header {
	h1 {
		font-size: 2.5em;
	}
}

.byline {
	font-size: $font-size-small-2;
	font-style: italic;
	margin-bottom: $space-half;
}

//Social Share
.page{
	.social-share {
		position: fixed;
		bottom: 0;
	}
}

.social-share {
	width: 100%;
	height: 3.5em;
	z-index: 1;
	background: #227fa6;
	text-align: center;



	ul {
		display: inline-block;
	}

	li {
		float: left;
	}

	a {
		background: $gray-dark;
		color: $white;
		display: block;
		padding: 0.75em ;

		&.twitter {
			background: #227fa6;
			width: 35em;
		} 
		&.facebook {
			background: #3B5998;
		} 
		&.instagram {
			background: gray;
		} 
		&.linkedin {
			background: #0077B5;
		}
		&.youtube {
			background: #CC181E;
		} 
		&.sharethis {
			background: #00BF00;
		} 
		&.feedback {
			background: $orange;
		} 
		&.rss {
			background: #FF9900;
		} 


		// &:hover {
		// 	background: $gray;
		// }

		.img-wrap {
			width: 2.5em;
			height: 2em;
			&.float{
				float:left;
			}
		}

		img { 
			height: 2em;

		}

		.text-wrap {
		  text-align: left;
		  margin-left: 4em;
		  height: 2.7em;
		  font-size: 0.75em;
		}

		p {
		}
	}
}

