//Article
.article-header {
	h1 {
		font-size: 2.5em;
	}
}

.byline {
	font-size: $font-size-small-2;
	font-style: italic;
	margin-bottom: $space-half;
}

//Social Share
.page {
	.social-share {
		position: fixed;
		bottom: 0;
	}
}

.social-share {
	width: 100%;
	height: 2em;
	z-index: 9999;
	background: #227fa6;
	text-align: center;

	@media all and (min-width: $bp-med-2) {
		height: 3.5em;
	}

	ul {
		display: inline-block;
	}

	li {
		float: left;
	}

	a {
		background: $gray-dark;
		color: $white;
		display: block;
		padding: 0.4em 0.25em;
		@media all and (min-width: $bp-med-2) {
			padding: 0.75em ;
		}

		&.twitter {
			background: #5EA9DD;
			@media all and (min-width: $bp-large){
				background: #227fa6;
				width: 30.9em;
			}
		} 
		&.facebook {
			background: #3B5998;
		} 
		&.instagram {
			background: gray;
		} 
		&.linkedin {
			background: #0077B5;
		}
		&.youtube {
			background: #CC181E;
		} 
		&.sharethis {
			background: #00BF00;
		} 
		&.feedback {
			background: $orange;
		} 
		&.rss {
			background: #FF9900;
		} 


		// &:hover {
		// 	background: $gray;
		// }

		.img-wrap {
			width: 1.86em;
			height: 1.3em;
			@media all and (min-width: $bp-med-2) {
				width: 2.5em;
				height: 2em;
			}
			&.float{
				float:left;
			}
		}

		img { 
			height: 1.3em;
			@media all and (min-width: $bp-med-2) {
				height: 2em;
			}
		}

		i { 
			font-size: 1.3em;
			@media all and (min-width: $bp-med-2) {
				font-size: 2.2em;
			}
		}

		.text-wrap {
		  text-align: left;
		  height: 2.7em;
		  font-size: 0.75em;
		  @media all and (min-width:$bp-large){
		  	margin-left: 4em;
		  }
		}

		p {
			display: none;
			@media all and (min-width: $bp-large){
				display: inherit;
			}
		}
	}
}

