#slider .fa-camera {
	background-color: rgba(255,255,255,.7);
	border-radius: 8px;
	cursor: pointer;
	padding: 10px 4px;
	position: absolute;
	right: 10px;
	top: 12%;
	z-index: 280;
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

#slider .slide-expand {
	margin: 10px;
	position: absolute;
	background-color: rgba(255,255,255,.9);
	padding: 4px;
	border-radius: 10px;
}

#slider .field-caption-content {
	position: absolute;
	max-width: 390px;
	z-index: 290;
	padding: 20px;
	background: rgba(0,0,0,.7);
	border: 2px solid white;
	margin: 10px 0;
	right: 60px;
	color: #fff;
}

#slider .flex-direction-nav li a {
	background-color: rgba(255,255,255,.7);
		@media all and (max-width: $bp-med){
			display: none;
		}
}

.slides li {
	display: inline-block;
	width: 60px;
}