.header-container{
	top: 2.5em;
	width: 100%;
	z-index: 200;
	@media all and (min-width: $bp-med-2) {
		position: absolute;
		width: 100%;
	}
}
.header-wrap{
	width: 100%;
	z-index: 200;
	@media all and (min-width: $bp-med-2) {
		display: block;
		position: absolute;
		// top: 2.5em;
		width: 100%;
	}
	@media all and (max-width: $bp-med-2) {
		position: relative;
		top: 0;
		width: 100%;
		background: $classicblue;
	}
}
.header-wrap-background{
	background: $black;
	height: 105px;
	z-index: 100;
	opacity: .5;
  	filter: alpha(opacity=50); /* For IE8 and earlier */
	@media all and (min-width: $bp-med-2) {
		display: block;
		position: absolute;
		// top: 2.5em;
		width: 100%;
	}
	@media all and (max-width: $bp-med-2) {
		position: absolute;
		top: 0;
		width: 100%;
		display: none;
	}
}
.header-wrap-background-blur{
	max-width: 1910px;
	width: 100%;
	height: 105px;
	z-index: 100;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	background-repeat: no-repeat;
    background-size: 100%;
  	background-position: 0px -2.5em;
  	-webkit-filter: blur(5px);
  	-moz-filter: blur(5px);
  	-o-filter: blur(5px);
  	-ms-filter: blur(5px);
  	filter: blur(5px);
  	margin:-2px;
  	padding:0px;
	@media all and (min-width: $bp-med-2) {
		display: block;
		position: absolute;
		// top: 2.5em;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	@media all and (max-width: $bp-med-2) {
		position: absolute;
		top: 0;
		width: 100%;
		display: none;
	}
}
.home .header-wrap-background-blur{
	background-image: url('../images/hero.jpg');
}
.blog .header-wrap-background-blur{
	background-image: url('../images/hero_2nd.jpg');
}
.article .header-wrap-background-blur{
	background-image: url('../images/hero_2nd.jpg');
}
.header {
	@extend .lc;
	display: block;
	max-width: 310px;
	@media all and (min-width: $bp-med){
		max-width: 100%
	}
	@media all and (min-width: $bp-med-2){
		padding: 0 10px;
		max-width: 1020px;
	}
}

.logo {
	float: left;
	max-width: 5.5em;
  	margin: 0.8em 0 0.8em 1.4em;

	@media all and (min-width: $bp-med-2) {
		max-width: 9rem;
		margin: 0;
	}
}

.title {
	float: left;
	margin: 1.2em 0 0 1em;
	width: 14em;
	color: $white;
	font-size: 0.75em;
	line-height: 1.25em;
	margin-bottom: 0;
	@media all and (min-width: $bp-med){
		font-size: 1.1em;
		line-height: 1.25em;
		width: 8em;
		margin: 0.75em 0 0 1em;
		float: left;
	}
	@media all and (min-width: $bp-med-2){
		font-size: 1.55em;
		line-height: 1.25em;
		width: 48%;
		margin: 0.8em 0 0 0.5em;
		float: left;
	}
	@media all and (min-width: $bp-large){
		font-size: 2em;
		line-height: 1.25em;
		width: 60%;
		margin: 0.4em 0 0 0.5em;
		float: left;
	}
}

.nav-toggle {
	float: right;
	display: block;
	padding: 0.9rem 1rem 0.7rem;
	font-size: 1.3rem;
	line-height: 1;
	border-left: 1px solid #dbdbdb;

	@media all and (min-width: $bp-med) {
		display: none;
	}

	@media all and (max-width: 17em) {
		padding-left: 0.2rem;
		padding-right: 0.2rem;
	}
}

.search-form {
	float: right;
	margin: 1em 0;
	width: 100%;
}