.header-wrap{
	display: block;
	background: $classicblue;
	width: 100%;
	z-index: 1;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	@media all and (min-width: $bp-med-2) {
		position: absolute;
		top: 2.5em;
		width: 100%;
	}
}

.header {
	@extend .lc;
	display: block;
	max-width: 310px;
	@media all and (min-width: $bp-med-2){
		max-width: 1020px;
	}
}

.logo {
	float: left;
	max-width: 5.5em;
  	margin: 0.8em 0 0.8em 1.4em;

	@media all and (min-width: $bp-med-2) {
		max-width: 9rem;
		margin: 0;
	}
}

.title {
	float: left;
	margin: 1.2em 0 0 1em;
	width: 14em;
	color: $white;
	font-size: 0.75em;
	line-height: 1.25em;
	margin-bottom: 0;
	@media all and (min-width: $bp-med-2){
		font-size: 1.55em;
		line-height: 1.25em;
		width: 48%;
		margin: 0.8em 0 0 0.5em;
		float: left;
	}
	@media all and (min-width: $bp-large){
		font-size: 2em;
		line-height: 1.25em;
		width: 60%;
		margin: 0.4em 0 0 0.5em;
		float: left;
	}
}

.nav-toggle {
	float: right;
	display: block;
	padding: 0.9rem 1rem 0.7rem;
	font-size: 1.3rem;
	line-height: 1;
	border-left: 1px solid #dbdbdb;

	@media all and (min-width: $bp-med) {
		display: none;
	}

	@media all and (max-width: 17em) {
		padding-left: 0.2rem;
		padding-right: 0.2rem;
	}
}

.search-form {
	overflow: hidden;
	max-height: 0;

	@media all and (min-width: $bp-med) {
		float: right;
		max-height: none;
		margin: 0.65em 0.5em 0 0;
	}
}