/*------------------------------------*\
    $MESSAGING
\*------------------------------------*/

// Alerts
.alert {
	text-align: center;
	padding: $pad-half;
	margin-bottom: $space-none;
	border: 0px solid $gray;
	height: 40px;
	background: $gray-light;
}

.alert-error {
	color: $error;
	border-color: $error;
	background: #ffbebe;
}

/*STYLEGUIDE ALERT REMOVE*/
#sg-patterns #molecules-alert .alert {
  overflow: hidden !important;
  padding: 0.7em;
}
/*END STYLEGUIDE ALERT REMOVE*/