/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

.nav {
	clear: none;
	overflow: hidden;
	max-height: none;
	float: left;
	margin-top: 0;
	@media all and (min-width: $bp-med-2){
		margin: 0.5em 0 0 1%;
	}

	
	.nav-links {
		display: none;
		@media all and (min-width: $bp-med-2) {
			display: inherit;
			margin-left: 1em;
			li {
				padding-right:0.5em;
				padding-top: 0.25em;
				a {
					color: $white;
				}
			}
		}
	}
	.nav-button {
		display: block;
		text-align: center;
		padding: 0.5em 0;
		margin: 0.8em 0 0 0.8em;
		width: 2.7em;
		height: 2.7em;
		background: $orange;
		@include vendor-prefix(border-radius, 8px);
		@media all and (min-width: $bp-med-2) {
			margin: 0.5em;margin: 0.5em;
		}
		&.hide {
			display: none;
			@media all and (min-width: $bp-med-2) {
				display: inherit;
			}
		}

	}

	img {
		height: 1.6em;


	}

	a {
		border:none;

	}

	li {
		float: left;
	}

	&.active {
		max-height: 40em;
	}

	@media all and (min-width: $bp-med-2) {
		float: right;		
	}
}

//Pagination
.pagination {
	overflow: hidden;

	li {
		float: left;
		border-right: 1px solid $gray-light-2;

		&:last-child {
			border: 0;
		}
	}

	a {
		padding: $pad;
	}
}

//Drop-down nav

.drop-down {
	display: none;
	position: absolute;
	top: 0%;
	background: $gray-med;
	width: 100%;
	height: 100%;
	z-index: 100;
	
	ul {
		margin-top: 12em;
		margin-left: 9.9%;
	}

	li {
		color: $white;
		font-size: 1.625em;
		line-height: 1.15384615em;
		@media all and (min-width: $bp-med-2){
			font-size: 2em;
			line-height: 1.25em;
		}
		@media all and (min-width: $bp-large){
			font-size: 2.25em;
			line-height: 1.25em;
		}
	}
}

// Calendar Nav

.calnav {
	display: block;
	background-color: $gray;
	padding: 4px 2px 4px 4px;
	text-align: center;
	margin: 2px;
	height: auto;
	width: auto;
	@include vendor-prefix(border-radius,4px){};

	.calDay {
		display: block;
		width: 35em;
		margin: 0 auto;	

		.calElement {
			display: block;
			margin: 1px;
			overflow: hidden;
			float: left;
			background-color: $gray-med;
			color: $white;
			height: 48px;
			@include vendor-prefix(border-radius,3px){};
			&:hover {
				background-color: $black;
				color: $white;
			}
		}

		.today {
			background-color: $white;
			border-radius: 3px;
			color: $black;
		}
		
		.prev, .next {
			width: 18px;
			background-color: $gray;
			color: $black;
			@include vendor-prefix(border-radius,4px){};
			&:hover {
				background-color: $white;
				color: $black;
			}

			.arrow {
				margin-top: 0.65em;
				font-weight: bold;
			}
		}
	}
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}