/*------------------------------------*\
    $NAVIGATION
\*------------------------------------*/

.nav {
	clear: none;
	overflow: hidden;
	max-height: none;
	float: left;
	margin-top: 0;
	@media all and (min-width: $bp-med) {
		float: right;
		margin: 1.5em 1em 0 0;		
	}
	@media all and (min-width: $bp-med-2){
		margin: 0.5em 0 0 0;
	}


	
	.nav-links {
		display: none;
		@media all and (min-width: $bp-med-2) {
			display: inherit;
			margin-left: 1em;
			li {
				padding-right:0.5em;
				padding-top: 0.25em;
				a {
					color: $white;
				}
			}
		}
	}
	.nav-button {
		display: block;
		text-align: center;
		padding: 0.5em 0;
		margin: 0.8em 0 0 0.8em;
		width: 2.7em;
		height: 2.7em;
		background: $orange;
		@include vendor-prefix(border-radius, 8px);
		@media all and (min-width: $bp-med-2) {
			margin: 0.5em;
		}
		&.hide {
			display: none;
			@media all and (min-width: $bp-med-2) {
				display: inherit;
			}
		}

	}

	img {
		height: 1.6em;

	}

	i {
		font-size: 1.6em;
		color: $white;
		&.fa-search {
			font-size: 1.4em;
			margin-left: 0.2em;
		}
	}

	a {
		border:none;

	}

	li {
		float: left;
	}

	&.active {
		max-height: 40em;
	}


}

//Pagination
.pagination {
	overflow: hidden;

	li {
		float: left;
		border-right: 1px solid $gray-light-2;

		&:last-child {
			border: 0;
		}
	}

	a {
		padding: $pad;
	}
}

//Drop-down nav

.drop-down {
	display: none;
	position: absolute;
	top: 0;
	background: $classicblue;
	width: 100%;
	height: 100%;
	z-index: 300;
	
	i {
		margin-left: 0.25em;
	}

	li.open {
		i {
			@include vendor-prefix(transform, rotate(90deg)) {}
		}
	}


	ul {
		&.lvl1 {
			max-width: 1020px;
			width: 80vw;
			margin: 14em auto 0;
			li {
				color: $white;
				font-weight: bold;
				font-size: 1.625em;
				line-height: 1.15384615em;
				@media all and (min-width: $bp-med-2){
					font-size: 2em;
					line-height: 1.25em;
				}
				@media all and (min-width: $bp-large){
					font-size: 2.25em;
					line-height: 1.25em;
				}
			}
		}
		&.lvl2 {
			width: 60vw;
			margin: 1em 0 1em 2em;
			li {
				color: $white;
				font-weight: normal;
				font-size: 1em;
				line-height: 1.15384615em;
				@media all and (min-width: $bp-med-2){
					font-size: 1.5em;
					line-height: 1.25em;
				}
				@media all and (min-width: $bp-large){
					font-size: 2em;
					line-height: 1.25em;
				}
			}
		}
	}
}

