.slab{
	color: #014982;
	text-align: center; 
	width: 100%;
 	background-color: #ffffff;
 	margin: 50px 0;
 	
 	h2{
 		color: $orange;
 	}
 	li{
 		display: inline-block;
 		vertical-align: top;
 	}
 	
 	
}
