.element-hidden {
	display: none;
}

.element-invisible {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px,1px,1px,1px);
}

.view-tweets{
	margin-top: 2em;
	.twitter-status {
		margin-bottom: 1em;
		.avatar {
			float: left;
			img {
				@include vendor-prefix(border-radius, 3px){}
			}
		}
		.timestamp {
			float: right;
		}
		.name-handle {
			margin-left: 60px;
			.name, .handle {
				display: inline;
			}
			.name a {
				font-weight: bold;
				margin-right: 5px;
			}
		}
		.text {
			margin-left: 60px;
		}
		.actions {
			text-align: right;
			visibility: hidden;
			margin-top: 6px;
			li {
				display: inline-block;
				a {
					margin-left: 10px;
				}
			}
		}

		&:hover {
			.actions {
				visibility: visible;
			}
		}
	}
}

.pager {
	text-align: center;
	margin-bottom: 2em;
	.pager-current, .pager-item, .pager-ellipsis, .pager-next, .pager-last  {
		display: inline;
		padding: 0 0.5em;
	}
	.pager-current {
		font-weight: bold;
	}
}
