&lt;ul class=&quot;nav-footer&quot;&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Who Are We&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Commission Memebers&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Leader &amp; Oversight&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Innovate Fund&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Agendas &amp; Minutes&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Calendar&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;What's New&lt;/a&gt;&lt;/li&gt;
	&lt;li&gt;&lt;a href=&quot;{{ url }}&quot;&gt;Contact Us&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;