&lt;div class=&quot;colorbulletlist&quot;&gt;
	&lt;ul&gt;
		&lt;li&gt;&lt;span&gt;This is a list item in an unordered list&lt;/span&gt;&lt;/li&gt;
		&lt;li&gt;&lt;span&gt;An unordered list is a list in which the sequence of items is not important. Sometimes, an unordered list is a bulleted list. And this is a long list item in an unordered list that can wrap onto a new line. &lt;/span&gt;&lt;/li&gt;
		&lt;li&gt;&lt;span&gt;
			Lists can be nested inside of each other
			&lt;ul&gt;
				&lt;li&gt;&lt;span&gt;This is a nested list item&lt;/span&gt;&lt;/li&gt;
				&lt;li&gt;&lt;span&gt;This is another nested list item in an unordered list&lt;/span&gt;&lt;/li&gt;
			&lt;/ul&gt;&lt;/span&gt;
		&lt;/li&gt;
		&lt;li&gt;&lt;span&gt;This is the last list item&lt;/span&gt;&lt;/li&gt;
	&lt;/ul&gt;
&lt;/div&gt;