&lt;ul class=&quot;icons inline-list&quot; &gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-bell&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-chevron-down&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-chevron-up&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-comment-o&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-lightbulb-o&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-bullhorn&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-calendar&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-cc&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-check&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-clock-o&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-cloud&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-code&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-gears&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-css3&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-html5&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-database&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-globe&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-envelope&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-file-code-o&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-facebook&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-twitter&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-instagram&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-linkedin&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-youtube&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-flickr&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-google-plus&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-tumblr&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-medium&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-skype&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-pinterest-p&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-vimeo-square&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-share-alt&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-rss&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-git&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-th&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-recycle&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-print&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-wheelchair&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-home&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-info&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-key&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-search&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-power-off&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-volume-off&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-wifi&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-phone&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-chevron-left&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-chevron-right&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-close&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-location-arrow&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-map-marker&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-trash-o&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-sign-in&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-file&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-download&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-upload&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-external-link&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-user&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-print&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-quote-left&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-quote-right&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-rocket&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-star&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-thumbs-o-up&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-thumbs-o-down&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-wrench&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-undo&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-users&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-list&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-sun-o&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-tags&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-desktop&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-folder-open&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-bookmark&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-picture-o&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-refresh&quot;&gt;&lt;/i&gt;&lt;/li&gt;
	&lt;li&gt;&lt;i class=&quot;fa fa-2x fa-bar-chart&quot;&gt;&lt;/i&gt;&lt;/li&gt;
&lt;/ul&gt;

