<ul class="icons inline-list" style="background-color: #e0e0e0; padding: 1em;">
	<!-- <li class="icon-twitter"></li>
	<li class="icon-facebook"></li>
	<li class="icon-stumbleupon"></li>
	<li class="icon-linkedin"></li>
	<li class="icon-pinterest"></li>
	<li class="icon-google-plus"></li>
	<li class="icon-youtube"></li>
	<li class="icon-feed"></li>
	<li class="icon-search"></li>
	<li class="icon-play"></li> -->
	<li><img src="../../images/facebook_icon.png"></li>
	<li><img src="../../images/feedback_icon.png"></li>
	<li><img src="../../images/instagram_icon.png"></li>
	<li><img src="../../images/linkedin_icon.png"></li>
	<li><img src="../../images/localsearch_icon.png"></li>
	<li><img src="../../images/location_icon.png"></li>
	<li><img src="../../images/mail_icon.png"></li>
	<li><img src="../../images/menu_icon.png"></li>
	<li><img src="../../images/phone_icon.png"></li>
	<li><img src="../../images/rss_icon.png"></li>
	<li><img src="../../images/sharethis_icon.png"></li>
	<li><img src="../../images/twitter_icon.png"></li>
	<li><img src="../../images/weather_icon.png"></li>
</ul>