<ul class="icons inline-list" >
	<li><i class="fa fa-2x fa-bell"></i></li>
	<li><i class="fa fa-2x fa-chevron-down"></i></li>
	<li><i class="fa fa-2x fa-chevron-up"></i></li>
	<li><i class="fa fa-2x fa-comment-o"></i></li>
	<li><i class="fa fa-2x fa-lightbulb-o"></i></li>
	<li><i class="fa fa-2x fa-bullhorn"></i></li>
	<li><i class="fa fa-2x fa-calendar"></i></li>
	<li><i class="fa fa-2x fa-cc"></i></li>
	<li><i class="fa fa-2x fa-check"></i></li>
	<li><i class="fa fa-2x fa-clock-o"></i></li>
	<li><i class="fa fa-2x fa-cloud"></i></li>
	<li><i class="fa fa-2x fa-code"></i></li>
	<li><i class="fa fa-2x fa-gears"></i></li>
	<li><i class="fa fa-2x fa-css3"></i></li>
	<li><i class="fa fa-2x fa-html5"></i></li>
	<li><i class="fa fa-2x fa-database"></i></li>
	<li><i class="fa fa-2x fa-globe"></i></li>
	<li><i class="fa fa-2x fa-envelope"></i></li>
	<li><i class="fa fa-2x fa-file-code-o"></i></li>
	<li><i class="fa fa-2x fa-facebook"></i></li>
	<li><i class="fa fa-2x fa-twitter"></i></li>
	<li><i class="fa fa-2x fa-instagram"></i></li>
	<li><i class="fa fa-2x fa-linkedin"></i></li>
	<li><i class="fa fa-2x fa-youtube"></i></li>
	<li><i class="fa fa-2x fa-flickr"></i></li>
	<li><i class="fa fa-2x fa-google-plus"></i></li>
	<li><i class="fa fa-2x fa-tumblr"></i></li>
	<li><i class="fa fa-2x fa-medium"></i></li>
	<li><i class="fa fa-2x fa-skype"></i></li>
	<li><i class="fa fa-2x fa-pinterest-p"></i></li>
	<li><i class="fa fa-2x fa-vimeo-square"></i></li>
	<li><i class="fa fa-2x fa-share-alt"></i></li>
	<li><i class="fa fa-2x fa-rss"></i></li>
	<li><i class="fa fa-2x fa-git"></i></li>
	<li><i class="fa fa-2x fa-th"></i></li>
	<li><i class="fa fa-2x fa-recycle"></i></li>
	<li><i class="fa fa-2x fa-print"></i></li>
	<li><i class="fa fa-2x fa-wheelchair"></i></li>
	<li><i class="fa fa-2x fa-home"></i></li>
	<li><i class="fa fa-2x fa-info"></i></li>
	<li><i class="fa fa-2x fa-key"></i></li>
	<li><i class="fa fa-2x fa-search"></i></li>
	<li><i class="fa fa-2x fa-power-off"></i></li>
	<li><i class="fa fa-2x fa-volume-off"></i></li>
	<li><i class="fa fa-2x fa-wifi"></i></li>
	<li><i class="fa fa-2x fa-phone"></i></li>
	<li><i class="fa fa-2x fa-chevron-left"></i></li>
	<li><i class="fa fa-2x fa-chevron-right"></i></li>
	<li><i class="fa fa-2x fa-close"></i></li>
	<li><i class="fa fa-2x fa-location-arrow"></i></li>
	<li><i class="fa fa-2x fa-map-marker"></i></li>
	<li><i class="fa fa-2x fa-trash-o"></i></li>
	<li><i class="fa fa-2x fa-sign-in"></i></li>
	<li><i class="fa fa-2x fa-file"></i></li>
	<li><i class="fa fa-2x fa-download"></i></li>
	<li><i class="fa fa-2x fa-upload"></i></li>
	<li><i class="fa fa-2x fa-external-link"></i></li>
	<li><i class="fa fa-2x fa-user"></i></li>
	<li><i class="fa fa-2x fa-print"></i></li>
	<li><i class="fa fa-2x fa-quote-left"></i></li>
	<li><i class="fa fa-2x fa-quote-right"></i></li>
	<li><i class="fa fa-2x fa-rocket"></i></li>
	<li><i class="fa fa-2x fa-star"></i></li>
	<li><i class="fa fa-2x fa-thumbs-o-up"></i></li>
	<li><i class="fa fa-2x fa-thumbs-o-down"></i></li>
	<li><i class="fa fa-2x fa-wrench"></i></li>
	<li><i class="fa fa-2x fa-undo"></i></li>
	<li><i class="fa fa-2x fa-users"></i></li>
	<li><i class="fa fa-2x fa-list"></i></li>
	<li><i class="fa fa-2x fa-sun-o"></i></li>
	<li><i class="fa fa-2x fa-tags"></i></li>
	<li><i class="fa fa-2x fa-desktop"></i></li>
	<li><i class="fa fa-2x fa-folder-open"></i></li>
	<li><i class="fa fa-2x fa-bookmark"></i></li>
	<li><i class="fa fa-2x fa-picture-o"></i></li>
	<li><i class="fa fa-2x fa-refresh"></i></li>
	<li><i class="fa fa-2x fa-bar-chart"></i></li>
</ul>

