&lt;form action=&quot;/tested-poll&quot; method=&quot;post&quot; id=&quot;poll-view-voting&quot; accept-charset=&quot;UTF-8&quot;&gt;&lt;div&gt;

&lt;div class=&quot;poll&quot;&gt;
  &lt;div class=&quot;vote-form&quot;&gt;
    &lt;div class=&quot;choices&quot;&gt;
            &lt;div class=&quot;form-item form-type-radios form-item-choice&quot;&gt;
  &lt;label class=&quot;element-invisible&quot; for=&quot;edit-choice&quot;&gt;Choices &lt;/label&gt;
 &lt;div id=&quot;edit-choice&quot; class=&quot;form-radios&quot;&gt;&lt;div class=&quot;form-item form-type-radio form-item-choice&quot;&gt;
 &lt;input id=&quot;edit-choice-1&quot; name=&quot;choice&quot; value=&quot;1&quot; class=&quot;form-radio&quot; type=&quot;radio&quot;&gt;  &lt;label class=&quot;option&quot; for=&quot;edit-choice-1&quot;&gt;Jamie &lt;/label&gt;

&lt;/div&gt;
&lt;div class=&quot;form-item form-type-radio form-item-choice&quot;&gt;
 &lt;input id=&quot;edit-choice-2&quot; name=&quot;choice&quot; value=&quot;2&quot; class=&quot;form-radio&quot; type=&quot;radio&quot;&gt;  &lt;label class=&quot;option&quot; for=&quot;edit-choice-2&quot;&gt;Adam &lt;/label&gt;

&lt;/div&gt;
&lt;div class=&quot;form-item form-type-radio form-item-choice&quot;&gt;
 &lt;input id=&quot;edit-choice-3&quot; name=&quot;choice&quot; value=&quot;3&quot; class=&quot;form-radio&quot; type=&quot;radio&quot;&gt;  &lt;label class=&quot;option&quot; for=&quot;edit-choice-3&quot;&gt;Will &lt;/label&gt;

&lt;/div&gt;
&lt;div class=&quot;form-item form-type-radio form-item-choice&quot;&gt;
 &lt;input id=&quot;edit-choice-4&quot; name=&quot;choice&quot; value=&quot;4&quot; class=&quot;form-radio&quot; type=&quot;radio&quot;&gt;  &lt;label class=&quot;option&quot; for=&quot;edit-choice-4&quot;&gt;Norm &lt;/label&gt;

&lt;/div&gt;
&lt;/div&gt;
&lt;/div&gt;
    &lt;/div&gt;
    &lt;input id=&quot;edit-vote&quot; name=&quot;op&quot; value=&quot;Vote&quot; class=&quot;form-submit btn&quot; type=&quot;submit&quot;&gt;  &lt;/div&gt;
    &lt;input name=&quot;form_build_id&quot; value=&quot;form-Di-xtmlA_RPZRILOx4nkknyPwvNj8AF-gZH6l7A62XE&quot; type=&quot;hidden&quot;&gt;
&lt;input name=&quot;form_token&quot; value=&quot;dCR4rdicnxQRZKetcWqXOeKjo3R_C8mmi-LJwiv7h4c&quot; type=&quot;hidden&quot;&gt;
&lt;input name=&quot;form_id&quot; value=&quot;poll_view_voting&quot; type=&quot;hidden&quot;&gt;
&lt;/div&gt;
&lt;/div&gt;&lt;/form&gt;