&lt;!-- Begin Footer --&gt;
&lt;footer class=&quot;footer&quot; role=&quot;contentinfo&quot;&gt;
	&lt;div class=&quot; lc wrapper flexGRID&quot;&gt;
        &lt;div class=&quot;row&quot;&gt;
            &lt;div class=&quot;col_4&quot;&gt;
			&lt;h3&gt;Style Guide&lt;/h3&gt;
			&lt;p&gt;City of Los Angeles&lt;/p&gt;
			&lt;p class=&quot;copyright&quot;&gt;&amp;copy; 2015 Company Name. All rights reserved. | Disclaimer | Privacy Policy&lt;/p&gt;
            &lt;/div&gt;
            &lt;div class=&quot;col_4&quot;&gt;
            &lt;div class=&quot;left&quot;&gt;&lt;img src=&quot;../../images/icons/icon-location.png&quot;&gt;&lt;/div&gt;&lt;div&gt;200 N. Main Street,&lt;br&gt;
			RM 1500 CHE&lt;br&gt;
			Los Angeles, CA 90012
			&lt;/div&gt;
			&lt;br&gt;&lt;br&gt;
			&lt;div class=&quot;left&quot;&gt;&lt;img src=&quot;../../images/icons/icon-phone.png&quot;&gt;&lt;/div&gt;&lt;div&gt;+1-213-473-7500&lt;/div&gt;&lt;br&gt;&lt;br&gt;
			&lt;div class=&quot;left&quot;&gt;&lt;img src=&quot;../../images/icons/icon-email.png&quot;&gt;&lt;/div&gt;&lt;div&gt;innovate@lacity.org&lt;/div&gt;
            &lt;/div&gt;
            &lt;div class=&quot;col_4 last&quot;&gt;
			{{&gt; molecules-footer-nav }}
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/footer&gt;
{{&gt; molecules-social-share }}
&lt;!-- End Footer --&gt;