&lt;p&gt;&lt;button type=&quot;submit&quot; class=&quot;btn fa-search&quot;&gt;Button&lt;/button&gt;&lt;/p&gt;
&lt;p&gt;&lt;button type=&quot;submit&quot; class=&quot;btn alt fa-envelope&quot;&gt;Alternate Button&lt;/button&gt;&lt;/p&gt;
&lt;p&gt;&lt;button type=&quot;submit&quot; class=&quot;btn disabled&quot;&gt;Disabled Button&lt;/button&gt;&lt;/p&gt;