<section class="section related-posts">
	<h3 class="section-title">Recent Tweets</h3>
	<div class="view view-tweets view-id-tweets view-display-id-page_2 view-dom-id-0d0507c41c99a166138c987f94cfb602">
		<div class="view-content">
		<div class="item-list">    
		<ul>          
		<li class="views-row views-row-1 views-row-odd views-row-first">  
		<div class="views-field views-field-formatted-tweet">        <span class="field-content"><div class="twitter-status clearfix">
		<div class="avatar">
		<a title="Bernard C. Parks" href="https://twitter.com/BernardCParks">
		<img alt="Bernard C. Parks" src="http://pbs.twimg.com/profile_images/3254384501/5935d8da9df3b2219cc515de9a5c7f68_normal.jpeg">
		</a>
		</div>

		<div class="timestamp">
		<em class="placeholder">7 min 5 sec</em> ago  </div>

		<div class="name-handle">
		<div class="name">
		<a href="http://twitter.com/BernardCParks">Bernard C. Parks</a>
		</div>

		<div class="handle">
		<a href="http://twitter.com/BernardCParks">@BernardCParks</a>
		</div>
		</div>

		<div class="text">
		<a target="_blank" rel="nofollow" href="http://twitter.com/search?q=%23LA">#LA</a> <a target="_blank" rel="nofollow" href="http://twitter.com/search?q=%23Kid">#Kid</a>'s Stuff, <a target="_blank" rel="nofollow" href="http://twitter.com/search?q=%23BaldwinHills">#BaldwinHills</a> Library &amp; <a target="_blank" rel="nofollow" href="http://twitter.com/search?q=%23Free">#Free</a> <a target="_blank" rel="nofollow" href="http://twitter.com/search?q=%23HealthTests">#HealthTests</a> When a friend was looking for a dog-friendly... <a target="_blank" rel="nofollow" href="http://t.co/KkO20LfHae">http://t.co/KkO20LfHae</a>  </div>

		<ul class="actions">
		<li><a href="https://twitter.com/intent/tweet?in_reply_to=611942814193164290">Reply <span class="element-hidden">to tweet id=611942814193164290</span></a></li>

		<li><a href="https://twitter.com/intent/retweet?tweet_id=611942814193164290">Retweet <span class="element-hidden">to tweet id=611942814193164290</span></a></li>

		<li><a href="https://twitter.com/intent/favorite?tweet_id=611942814193164290">Favorite <span class="element-hidden">to tweet id=611942814193164290</span></a></li>
		</ul>
		</div>
		</span>  </div></li>
		<li class="views-row views-row-2 views-row-even">  
		<div class="views-field views-field-formatted-tweet">        <span class="field-content"><div class="twitter-status clearfix">
		<div class="avatar">
		<a title="LAFD Conversation" href="https://twitter.com/LAFDtalk">
		<img alt="LAFD Conversation" src="http://pbs.twimg.com/profile_images/482304954799890432/ifvUxIJn_normal.jpeg">
		</a>
		</div>

		<div class="timestamp">
		<em class="placeholder">10 min 36 sec</em> ago  </div>

		<div class="name-handle">
		<div class="name">
		<a href="http://twitter.com/LAFDtalk">LAFD Conversation</a>
		</div>

		<div class="handle">
		<a href="http://twitter.com/LAFDtalk">@LAFDtalk</a>
		</div>
		</div>

		<div class="text">
		<a target="_blank" rel="nofollow" href="http://twitter.com/search?q=%23Recall">#Recall</a>: Top Fin Plastic Aquarium Heaters Recalled by PetSmart Due to Electrical Shock Hazard <a target="_blank" rel="nofollow" href="http://t.co/QlLE6rL8HM">http://t.co/QlLE6rL8HM</a>  </div>

		<ul class="actions">
		<li><a href="https://twitter.com/intent/tweet?in_reply_to=611941928276504577">Reply <span class="element-hidden">to tweet id=611941928276504577</span></a></li>

		<li><a href="https://twitter.com/intent/retweet?tweet_id=611941928276504577">Retweet <span class="element-hidden">to tweet id=611941928276504577</span></a></li>

		<li><a href="https://twitter.com/intent/favorite?tweet_id=611941928276504577">Favorite <span class="element-hidden">to tweet id=611941928276504577</span></a></li>
		</ul>
		</div>
		</span>  </div></li>
		<li class="views-row views-row-3 views-row-odd">  
		<div class="views-field views-field-formatted-tweet">        <span class="field-content"><div class="twitter-status clearfix">
		<div class="avatar">
		<a title="LAFD Conversation" href="https://twitter.com/LAFDtalk">
		<img alt="LAFD Conversation" src="http://pbs.twimg.com/profile_images/482304954799890432/ifvUxIJn_normal.jpeg">
		</a>
		</div>

		<div class="timestamp">
		<em class="placeholder">16 min 48 sec</em> ago  </div>

		<div class="name-handle">
		<div class="name">
		<a href="http://twitter.com/LAFDtalk">LAFD Conversation</a>
		</div>

		<div class="handle">
		<a href="http://twitter.com/LAFDtalk">@LAFDtalk</a>
		</div>
		</div>

		<div class="text">
		<a target="_blank" rel="nofollow" href="http://twitter.com/search?q=%23LAFD">#LAFD</a> Retiree Kevin M. Poore, we mourn your passing and honor your service to Los Angeles <a target="_blank" rel="nofollow" href="http://t.co/gMogxbK7jF">http://t.co/gMogxbK7jF</a> <a target="_blank" rel="nofollow" href="http://twitter.com/search?q=%23RIP">#RIP</a>  </div>

		<ul class="actions">
		<li><a href="https://twitter.com/intent/tweet?in_reply_to=611940368377061376">Reply <span class="element-hidden">to tweet id=611940368377061376</span></a></li>

		<li><a href="https://twitter.com/intent/retweet?tweet_id=611940368377061376">Retweet <span class="element-hidden">to tweet id=611940368377061376</span></a></li>

		<li><a href="https://twitter.com/intent/favorite?tweet_id=611940368377061376">Favorite <span class="element-hidden">to tweet id=611940368377061376</span></a></li>
		</ul>
		</div>
		</span>  </div></li>
		<li class="views-row views-row-4 views-row-even">  
		<div class="views-field views-field-formatted-tweet">        <span class="field-content"><div class="twitter-status clearfix">
		<div class="avatar">
		<a title="Port of Los Angeles" href="https://twitter.com/PortofLA">
		<img alt="Port of Los Angeles" src="http://pbs.twimg.com/profile_images/459454894978506752/fipOfct5_normal.jpeg">
		</a>
		</div>

		<div class="timestamp">
		<em class="placeholder">17 min 46 sec</em> ago  </div>

		<div class="name-handle">
		<div class="name">
		<a href="http://twitter.com/PortofLA">Port of Los Angeles</a>
		</div>

		<div class="handle">
		<a href="http://twitter.com/PortofLA">@PortofLA</a>
		</div>
		</div>

		<div class="text">
		RT <a target="_blank" rel="nofollow" href="http://twitter.com/laparksfndtion">@laparksfndtion</a>: Thanks 2 grant from <a target="_blank" rel="nofollow" href="http://twitter.com/PortofLA">@PortofLA</a>  to LAPF 4 the Cabrillo Beach Pier Fishing Program! <a target="_blank" rel="nofollow" href="http://twitter.com/search?q=%23lapf2008">#lapf2008</a> <a target="_blank" rel="nofollow" href="http://twitter.com/search?q=%23parksmakelifebetter">#parksmakelifebetter</a> http:/…  </div>

		<ul class="actions">
		<li><a href="https://twitter.com/intent/tweet?in_reply_to=611940122670436352">Reply <span class="element-hidden">to tweet id=611940122670436352</span></a></li>

		<li><a href="https://twitter.com/intent/retweet?tweet_id=611940122670436352">Retweet <span class="element-hidden">to tweet id=611940122670436352</span></a></li>

		<li><a href="https://twitter.com/intent/favorite?tweet_id=611940122670436352">Favorite <span class="element-hidden">to tweet id=611940122670436352</span></a></li>
		</ul>
		</div>
		</span>  </div></li>
		<li class="views-row views-row-5 views-row-odd">  
		<div class="views-field views-field-formatted-tweet">        <span class="field-content"><div class="twitter-status clearfix">
		<div class="avatar">
		<a title="Mitch Englander " href="https://twitter.com/Mitch_Englander">
		<img alt="Mitch Englander " src="http://pbs.twimg.com/profile_images/3467829133/a709d9ead9d43ac1749abd2d6d8ee290_normal.jpeg">
		</a>
		</div>

		<div class="timestamp">
		<em class="placeholder">25 min 45 sec</em> ago  </div>

		<div class="name-handle">
		<div class="name">
		<a href="http://twitter.com/Mitch_Englander">Mitch Englander </a>
		</div>

		<div class="handle">
		<a href="http://twitter.com/Mitch_Englander">@Mitch_Englander</a>
		</div>
		</div>

		<div class="text">
		So honored to be recognized by <a target="_blank" rel="nofollow" href="http://twitter.com/valleyvillage">@valleyvillage</a> last night! <a target="_blank" rel="nofollow" href="http://twitter.com/search?q=%23thanksamillion">#thanksamillion</a> <a target="_blank" rel="nofollow" href="http://t.co/ddXc42vHxe">http://t.co/ddXc42vHxe</a>  </div>

		<ul class="actions">
		<li><a href="https://twitter.com/intent/tweet?in_reply_to=611938113254920192">Reply <span class="element-hidden">to tweet id=611938113254920192</span></a></li>

		<li><a href="https://twitter.com/intent/retweet?tweet_id=611938113254920192">Retweet <span class="element-hidden">to tweet id=611938113254920192</span></a></li>

		<li><a href="https://twitter.com/intent/favorite?tweet_id=611938113254920192">Favorite <span class="element-hidden">to tweet id=611938113254920192</span></a></li>
		</ul>
		</div>
		</span>  </div></li>
		


	</div>
</section>