<!-- Begin section slab white -->
<section class="slab white" role="contentinfo">
	<div><img src="../../images/aboutUs_icon.png" alt="Learn About Us" /><h2>Learn About Us</h2>
	<hr />
	<div><ul class="4-up"><li><img src="../../images/OpenData_icon.png" alt="Open Data" /><h3>Open Data</h3></li><li><img src="../../images/fundAction_icon.png" alt="Innovation Fund in Action" /><h3>Innovation Fund in Action</h3></li><li><img src="../../images/faq_icon.png" alt="Innovation Fund FAQ" /><h3>Innovation Fund FAQ</h3></li><li><img src="../../images/fundIdea_icon.png" alt="Innovation Fund Ideas" /><h3>Innovation Fund Ideas</h3></li></ul>

</section>
<!-- End section slab white -->
<!-- Begin section slab black -->
<section class="slab black" role="contentinfo">
	<div><img src="../../images/aboutUs_icon.png" alt="Learn About Us" /><h2>Learn About Us</h2>
	<hr />
	<div><ul><li><img src="../../images/OpenData_icon.png" alt="Open Data" /><h3>Open Data</h3></li><li><img src="../../images/fundAction_icon.png" alt="Innovation Fund in Action" /><h3>Innovation Fund in Action</h3></li><li><img src="../../images/faq_icon.png" alt="Innovation Fund FAQ" /><h3>Innovation Fund FAQ</h3></li><li><img src="../../images/fundIdea_icon.png" alt="Innovation Fund Ideas" /><h3>Innovation Fund Ideas</h3></li></ul>

</section>
<!-- End section slab black -->