<!-- Begin section slab white -->
<section class="slab" role="contentinfo">
	<div class="white"><img src="../../images/aboutUs_icon.png" alt="Learn About Us" /><h1>Learn About Us</h1>
	<hr />
	<div><ul><li class="one-quarter"><img src="../../images/OpenData_icon.png" alt="Open Data" style="height:45px" /><h3>Open Data</h3></li><li class="one-quarter"><img src="../../images/fundAction_icon.png" alt="Innovation Fund in Action" style="height:45px" /><h3>Innovation Fund in Action</h3></li><li class="one-quarter"><img src="../../images/faq_icon.png" alt="Innovation Fund FAQ" style="height:45px" /><h3>Innovation Fund FAQ</h3></li><li class="one-quarter"><img src="../../images/fundIdea_icon.png" alt="Innovation Fund Ideas" style="height:45px" /><h3>Innovation Fund Ideas</h3></li></ul>
	</div>
	</div>

</section>
<!-- End section slab white -->
<!-- Begin section slab black -->
<div class="black">
<section class="slab" role="contentinfo">
	<div><h1 class="black">Leadership & Oversight</h1>
	<hr />
	<div><ul><li class="one-third"><img src="../../images/eGarcetti.jpg" alt="Eric Garcetti" /><h5>Mayor<br />Eric Garcetti</h5></li><li class="one-third"><img src="../../images/hWesson.jpg" alt="Herb Wesson" /><h5>LA City Council President<br />Herb Wesson</h5></li><li class="one-third"><img src="../../images/bBlumenfield.jpg" alt="Bob Blumenfeld" /><h5>Councilmember Bob Blumenfeld,<br />District 3</h5></li><li class="one-third"><img src="../../images/nMartinez.jpg" alt="Nury Martinez" /><h5>Councilmember Nury Martinez,<br />District 6</h5></li><li class="one-third"><img src="../../images/pKrekorian.jpg" alt="Paul Krekorian" /><h5>Councilmember Paul Krekorian,<br />District 2</h5></li><li class="one-third"><img src="../../images/pKoretz.jpg" alt="Paul Koretz" /><h5>Councilmember Paul Koretz,<br />District 5</h5></li></ul>
	</div>
	</div>
</section>
</div>
<!-- End section slab black -->