<div class="social-share mono">
	<ul class="social-share-list">
		<li>
			<a href="{{ url }}" class="open">
				<div class="img-wrap float">
					<i class="fa fa-twitter"></i>
				</div>
				<div class="text-wrap">
					<p>Join Mayor @ericgarcetti as we make history and sign #RaisetheWageLA into law this Saturday http://www.lamayor.org/signing_ceremony …</p>
				</div>
			</a>
		</li>
		<li>
			<a href="{{ url }}">
				<div class="img-wrap" >
				<i class="fa fa-facebook"></i>
				</div>
			</a>
		</li>
		<li>
			<a href="{{ url }}">
				<div class="img-wrap"> 
				<i class="fa fa-instagram"></i>
				</div>
			</a>
		</li>
		<li>
			<a href="{{ url }}">
				<div class="img-wrap">
				<i class="fa fa-linkedin"></i>
				</div>
			</a>
		</li>
		<li>
			<a href="{{ url }}">
				<div class="img-wrap">
				<i class="fa fa-youtube"></i>
				</div>
			</a>
		</li>
		<li>
			<a href="{{ url }}">
				<div class="img-wrap" >
				<i class="fa fa-share-alt"></i>
				</div>
			</a>
		</li>
		<li>
			<a href="{{ url }}">
				<div class="img-wrap" >
				<img src="../../images/feedback_icon.png">
				</div>
			</a>
		</li>
		<li>
			<a href="{{ url }}">
				<div class="img-wrap" >
				<i class="fa fa-rss"></i>
				</div>
			</a>
		</li>
	</ul>
</div>