<div class="disclaimer-slab">
	<div class="disclaimer-wrapper">
		<a href="#">Governing Policies</a>
		<span> | </span>
		<a href="#">Terms of Usage</a>
		<span> | </span>
		<a href="#">Login Help</a>
	</div>
</div>