<h2>GovStyle LA / Style LA</h2>
<p>Take part in a unique opportunity to help unify and improve the design and usability of City of LA websites and apps.  The City’s Web Team has been working on a proposed Style Guide to be used as the go-to style resource for all site and app development.  Not only is this Style Guide supposed to help streamline development, but it should provide great-looking style that can be used by all City Departments while ensuring responsiveness and accessibility.  View the Style Guide at <a href="http://contact.lacity.org/style/" target="_blank">http://contact.lacity.org/style/</a>.</p><p>Please turn on Annotations to view Instructions ( Found under the eye icon in the top right )</p>