<p>Primary font: 'Varela', sans-serif;</p>
<p><em>Primary font italic: 'Varela', sans-serif;</em></p>
<p><strong>Primary font bold: 'Varela', sans-serif;</strong></p>
<p class="font-secondary">Secondary font: 'Droid Sans', sans-serif;</p>
<p class="font-secondary"><em>Secondary font italic: 'Droid Sans', sans-serif;</em></p>
<p class="font-secondary"><strong>Secondary font bold: 'Droid Sans', sans-serif;</strong></p>