<div class="view view-events-calendar-with-ens view-id-events_calendar_with_ens view-display-id-page_4 view-dom-id-b239610f19bf0f3887d56b9e1589158d">
  <div class="view-header">
    <div class="date-nav-wrapper clearfix">
      <div class="date-nav item-list">
        <div class="date-heading">
          <h3>Tuesday, June 16, 2015</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="view-content">
    <div class="item-list">      
      <h4><span class="date-display-single">9:00 am</span></h4>
        <ul>
          <li class="views-row views-row-1 views-row-odd views-row-first">  
            <a href="#" target="_blank">Transportation Committee, Special Meeting</a>
          </li>
          <li class="views-row views-row-2 views-row-even views-row-last">  
            <a href="#" target="_blank">Education &amp; Neighborhoods Committee - SPECIAL MEETING</a>
          </li>
        </ul>
      </div>
    <div class="item-list">
      <h4><span class="date-display-single">10:00 am</span></h4>
      <ul>
        <li class="views-row views-row-1 views-row-odd views-row-first views-row-last">  
          <a href="#" target="_blank">Los Angeles City Council Agenda</a>
        </li>
      </ul>
    </div>
    <div class="item-list">
      <h4><span class="date-display-single">1:00 pm</span></h4>
      <ul>
        <li class="views-row views-row-1 views-row-odd views-row-first views-row-last">  
          <a href="#" target="_blank">Education &amp; Neighborhoods Committee Meeting - CANCELLED</a>
        </li>
      </ul>
    </div>
    <div class="item-list">
      <h4><span class="date-display-single">2:30 pm</span></h4>
        <ul>
          <li class="views-row views-row-1 views-row-odd views-row-first views-row-last">  
            <a href="#" target="_blank">Planning and Land Use Management Committee Meeting</a>
          </li>
        </ul>
    </div>
    <div class="item-list">
      <h4><span class="date-display-single">3:00 pm</span></h4>
      <ul>
        <li class="views-row views-row-1 views-row-odd views-row-first">  
          <a href="#" target="_blank">Audits Committee Meeting</a>
        </li>
        <li class="views-row views-row-2 views-row-even views-row-last">  
         <a href="#" target="_blank">Personnel &amp; Animal Welfare Committee Meeting</a>
        </li>
      </ul>
    </div>
  </div>
</div>